<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Socioboard | Manage News Letter</title>

    <meta name="google-site-verification" content="suNXfJWYY3E7tilc3XsF5M2qZgSml8fGZVb5RfDOWaA" />
    <meta name="description" content="Be it marketing(finding leads/customers) on Social media, or listening to customer complaints, replying to them, managing multiple social media accounts from one single dashboard, finding influencers in a particular category and reaching out to them and many more things, Socioboard products can do it." />
    <meta name="keywords" content="Social Media Management Software, Social Media Management tool, Open Source Social Media Management, Social Media Management" />
    <meta name="author" content="Socioboard Technologies">

    <link rel="apple-touch-icon" sizes="57x57" href="~/contents/socioboard/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/contents/socioboard/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/contents/socioboard/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/contents/socioboard/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/contents/socioboard/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/contents/socioboard/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/contents/socioboard/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/contents/socioboard/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/contents/socioboard/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/frontend//imgs/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/contents/socioboard/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/contents/socioboard/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/contents/socioboard/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/contents/socioboard/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/contents/socioboard/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:site_name" content="socioboard.com">
    <meta property="og:title" content="Socioboard - Open Source Social Technology Enabler | Find More Customers on Social Media">
    <meta property="og:description" content="Be it marketing(finding leads/customers) on Social media, or listening to customer complaints, replying to them, managing multiple social media accounts from one single dashboard, finding influencers in a particular category and reaching out to them and many more things, Socioboard products can do it.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://i.imgur.com/1B8wv5m.png">
    <meta property="og:url" content="https://www.facebook.com/SocioBoard">
    <meta itemprop="name" content="Socioboard" />
    <meta itemprop="description" content="Be it marketing(finding leads/customers) on Social media, or listening to customer complaints, replying to them, managing multiple social media accounts from one single dashboard, finding influencers in a particular category and reaching out to them and many more things, Socioboard products can do it." />

    <!-- CORE CSS-->
    <link href="~/contents/socioboard/css/admin/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- <link rel="stylesheet" type="text/css" href="http://demo.geekslabs.com/materialize/v3.1/css/materialize.min.css"> -->
    <link href="~/contents/socioboard/css/admin/style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- <link rel="stylesheet" type="text/css" href="http://demo.geekslabs.com/materialize/v3.1/css/style.min.css"> -->
    <link href="~/contents/socioboard/css/admin/custom.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/contents/socioboard/global/plugins/animate.css" type="text/css" rel="stylesheet" media="screen,projection">

    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="~/contents/socioboard/js/admin/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">

    <link href="~/contents/socioboard/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/contents/socioboard/global/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/contents/socioboard/global/plugins/dropify/dist/css/dropify.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.5.0/alertify.core.css">
    <link rel="stylesheet" type="text/css" href="~/contents/socioboard/global/plugins/sweetalert/dist/sweetalert.css">

    <link rel="stylesheet" type="text/css" href="~/contents/socioboard/global/plugins/ScrollTabs/css/scrolltabs.css">

    <link rel="stylesheet" type="text/css" href="~/contents/socioboard/global/plugins/datatables/media/css/jquery.dataTables.min.css">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <style>
        .chartdiv {
            width: 100%;
            height: 500px;
        }
    </style>
</head>

<body>

    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="grey lighten-2">
                <div class="nav-wrapper">
                    <h1 class="logo-wrapper"><a href="index.html" class="brand-logo darken-1"><img src="~/contents/socioboard/images/Socioboard.png" alt="Socioboard"></a> <span class="logo-text">SociobBoard</span></h1>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">
                                <i class="icon-logout grey-text text-darken-4" onclick="Logout()"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>
    <!-- END HEADER -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">

            <!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav fixed leftside-navigation">
                    <li class="user-details cyan darken-2">
                        <div class="row">
                            <div class="col col s12 m12 l12">
                                <img src="~/contents/socioboard/images/sumit.jpg" alt="Sumit Ghosh" class="circle responsive-img valign profile-image">
                                <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">Sumit Ghosh</a>
                                <p class="user-roal tooltipped" data-position="top" data-delay="50" data-tooltip="Admin@socioboard.com">Admin@socioboard.com</p>
                            </div>
                        </div>
                    </li>
                    <li class="bold">
                        <a href="../AdminHome/Dashboard" class="waves-effect waves-cyan"> <i class="icon-home"></i> Dashboard</a>
                    </li>
                    <li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li class="bold">
                                <a class="collapsible-header waves-effect waves-orange">
                                    <i class="icon-users"></i> Users
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="../AdminUser/ManageUser">Manage Users</a>
                                        </li>
                                        <li>
                                            <a href="../AdminUser/DeletedUser">Deleted Users</a>
                                        </li>
                                        <li>
                                            <a href="../AdminUser/DisabledUser">Disabled Users</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold active">
                                <a class="collapsible-header waves-effect waves-orange">
                                    <i class="icon-folder"></i> Packages
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="../AdminPakages/Getpackages">Manage Packages</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            @*<li class="bold">
                                    <a class="collapsible-header waves-effect waves-orange">
                                        <i class="icon-book-open"></i> News
                                    </a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li>
                                                <a href="manage_news.html">Manage News</a>
                                            </li>
                                            <li>
                                                <a href="add_news.html">Add News</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>*@
                            <li class="bold">
                                <a class="collapsible-header waves-effect waves-orange">
                                    <i class="icon-docs"></i> News Letter
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="../AdminNewsLetter/AddNewsLetter">Add News Letter</a>
                                        </li>
                                        <li class="active">
                                            <a href="../AdminNewsLetter/GetNewsLetter">Manage News Letter</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            @*<li class="bold">
                                    <a class="collapsible-header waves-effect waves-orange">
                                        <i class="icon-picture"></i> Advertisement
                                    </a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li>
                                                <a href="manage_advertisement.html">Manage Advertisement</a>
                                            </li>
                                            <li>
                                                <a href="add_advertisment.html">Add Advertisement</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>*@
                            <li class="bold">
                                <a class="collapsible-header waves-effect waves-orange">
                                    <i class="icon-shield"></i> Services
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="../AdminSehduledMesssage/GetSchedulemessage">Scheduling Details</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header waves-effect waves-orange">
                                    <i class="icon-present"></i> Coupon
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="../AdminCoupons/GetCoupons">Manage Coupons</a>
                                        </li>
                                        <li>
                                            <a href="../AdminCoupons/AddCoupons">Add Coupons</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only darken-2"><i class="mdi-navigation-menu"></i></a>
            </aside>
            <!-- END LEFT SIDEBAR NAV-->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- START CONTENT -->
            <section id="content">

                <!--start container-->
                <div class="container">
                    <div class="row">
                        <div class="col l12 m12 s12">
                            <div class="card-panel" id="feeds">
                                <h5 class="feeds_title orange darken-2 white-text">
                                    Manage News Letter
                                </h5>
                                <div class="card-panel">
                                    <div class="row">
                                        <div class="col l12">
                                            <table id="manage_user_table" class="display" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th class="center">Edit</th>
                                                        <th>Id</th>
                                                        <th>NewsLetter Body</th>
                                                        <th>Subject</th>
                                                        <th>Start Date</th>
                                                        <th>Expiry Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in ViewBag.details)
                                                    {
                                                        <tr id="row_@item.Id">
                                                            <td class="center">
                                                                <a onclick="updatemodel(@item.Id)" edit_id="@item.Id" class="waves-effect waves-light modal-trigger">
                                                                    <i class="icon-note grey-text text-darken-4"></i>
                                                                    <span hidden id="userid" value="@item.Id"></span>
                                                                </a>
                                                            </td>
                                                            <td>@item.Id</td>
                                                            <td><img style="width:120px; height:90px" src="@item.NewsLetterBody" /></td>
                                                            <td>@item.Subject</td>
                                                            <td>@item.startdate</td>
                                                            <td>@item.ExpiryDate</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end container-->

            </section>
            <!-- END CONTENT -->


        </div>
        <!-- END WRAPPER -->

    </div>
    <!-- END MAIN -->
    <!-- Modal Structure -->
    <div id="edit_user_modal" class="modal modal-fixed-footer">
        <form onsubmit="myFunction(); return false;" id="UpdateNewsLetter">
            <div class="modal-content">
                <h4>Edit Manage News Letter</h4>
             


                <div class="row">
                    <label id="setID" edit_id_form="na"></label>
                    <div class="input-field col l6 m6 s12" >
                        <input id="upload_new_image" type="file" class="dropify" />
                        <label for="NewsLetterBody" class="active">Upload New</label>
                    </div>
                    <div>
                        <br />
                        <img id="NewsLetterBody" style="width:120px; height:90px"/>
                    </div>
                    <div class="input-field col l6 m6 s12">
                        <input id="Subject" type="text" class="validate">
                        <label for="Subject" class="active">Subject</label>
                    </div>
                    </div>
                <div class="row">
                    <div class="input-field col s12 m6 l6">
                        <input type="date" class="datepicker" id="startDate">
                        <label>Start Date</label>
                    </div>
                    <div class="input-field col s12 m6 l6">
                        <input type="date" class="datepicker" id="ExpiryDate">
                        <label>Expiry Date</label>
                    </div>
                    
                    <div id="img_url_out" class="input-field col s12 m6 l6">
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="submitButton" type="submit" class="btn btn-flat btn-primary ink-reaction"> Update</button>
            </div>
        </form>
    </div>

    <!-- ====  Scripts  ==== -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58515856-3', 'auto');
      ga('send', 'pageview');

    </script>
    <!-- jQuery Library -->
    <script type="text/javascript" src="~/contents/socioboard/js/admin/jquery-1.11.2.min.js"></script>

    <!--scrollbar-->
    <script type="text/javascript" src="~/contents/socioboard/js/admin/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <script type="text/javascript" src="https://greasyfork.org/scripts/14637-arrive-js/code/Arrivejs.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="~/contents/socioboard/js/admin/materialize.js"></script>
    <!-- <script type="text/javascript" src="http://demo.geekslabs.com/materialize/v3.1/js/materialize.min.js"></script> -->

    <script type="text/javascript" src="~/contents/socioboard/js/admin/socioboard.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.5.0/alertify.js"></script>

    <script type="text/javascript" src="~/contents/socioboard/js/admin/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="~/contents/socioboard/global/plugins/amcharts/charts-amcharts.js"></script>
    <script type="text/javascript" src="~/contents/socioboard/global/plugins/amcharts/amcharts/amcharts.js"></script>
    <script type="text/javascript" src="~/contents/socioboard/global/plugins/amcharts/amcharts/serial.js"></script>
    <script type="text/javascript" src="~/contents/socioboard/global/plugins/amcharts/amcharts/pie.js"></script>
    <script type="text/javascript" src="~/contents/socioboard/global/plugins/amcharts/amcharts/themes/light.js"></script>

    <script type="text/javascript" src="~/contents/socioboard/global/plugins/dropify/dist/js/dropify.min.js"></script>
    <script type="text/javascript" src="~/contents/socioboard/global/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <script type="text/javascript" src="~/contents/socioboard/global/plugins/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript" src="~/contents/socioboard/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>


    <script type="text/javascript" src="~/contents/socioboard/global/plugins/ScrollTabs/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="~/contents/socioboard/global/plugins/ScrollTabs/js/jquery.scrolltabs.js"></script>

    <!-- Toast Notification -->
    <script type="text/javascript">
    // Toast Notification
    $(window).load(function() {
        setTimeout(function() {
            //Materialize.toast('<span>Chanchal ! I am a Socioboard Admin.</span>', 1500);
        }, 3000);
        setTimeout(function() {
            //Materialize.toast('<span>You can swipe me too!</span>', 3000);
        }, 5500);
    });

    // loader
         $(window).load(function() {
            setTimeout(function() {
              $('body').addClass('loaded');
            }, 200);
         });


         $('#manage_user_table').DataTable();
        //$('.modal-trigger').leanModal();
         $('select').material_select();
    </script>
    <script>



        function myFunction() {
            debugger;
            var Id = $('#setID').attr('edit_id_form');
            //alert("Val :"+id);
          
            //var NewsLetterBody = $('#NewsLetterBody').val();
            var Subject = $('#Subject').val();
            var startDate = $('#startDate').val();
            var ExpiryDate = $('#ExpiryDate').val();

            var fd = new FormData();
            var filesimage = document.getElementById('upload_new_image').files[0];
            fd.append('files', filesimage);
            
            $.ajax({

                

                type: "POST",
                
                @*url: "@ViewBag.ApiDomain/api/user/Register",*@
                
                url: '@ViewBag.ApiDomain/api/user/UpdateNewsLetterAdmin?NewsLetterBody=' + NewsLetterBody + '&Subject=' + Subject + '&startDate=' + startDate + '&ExpiryDate=' + ExpiryDate + '&Id=' + Id,

                //data: { "firstName": firstName, "lastName": lastName, "user_email": email, "AccountType": accountType, "PaymentStatus": PaymentStatus, "AccountStatus": AccountStatus, "userid": id },

                //contentType: "application/json; charset=utf-8",

                processData: false,
                contentType: false,
                data: fd,

                success: function (msg) {
                    console.log(msg);
                    //alertify.set({ delay: 5000 });
                    //alertify.success("User updated");
                    swal(msg);
                    window.location.reload();
                    $('#NewsLetterBody').val("");
                    $('#Subject').val("");
                    $('#ExpiryDate').val("");
                    $('#startDate').val("");

                },


            });

            return false;
        }

         function updatemodel(Id) {
             // alert(id);
             debugger;
             $('#edit_user_modal').openModal();
             $('.datepicker').pickadate({
                 selectMonths: true, // Creates a dropdown to control month
                 selectYears: 25 // Creates a dropdown of 25 years to control year
             });

             $('.dropify').dropify();
             checkfile = function () {
                 var filesinput = $('#NewsLetterBody');
                 console.log('sadfkjasdf');
                 console.log(filesinput);
                 var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
                 if (filesinput != undefined && filesinput[0].files[0] != null) {
                     if (hasExtension('#NewsLetterBody', fileExtension)) {
                         check = true;
                     }
                     else {
                         check = false;
                     }
                 }
             }
             $('#setID').attr('edit_id_form',Id);
             var cells = $('#row_' + Id).find('td');
             //document.getElementById("NewsLetterBody").value = $(cells[2]).html();    // output image when user click newsletter body in update model
             document.getElementById("Subject").value = $(cells[3]).html();
             document.getElementById("startDate").value = $(cells[4]).html();
             document.getElementById("ExpiryDate").value = $(cells[5]).html();
             document.getElementById("NewsLetterBody").src = $(cells[2]).find('img').attr('src');
             
         }

    </script>
    <script>
        function Logout() {



                debugger;
                //todo: code to delete profile

                $.ajax({

                    type: "GET",

                    url: '../Home/AdminLogout',
                    // url: '../User/DeleteUserAdmin?Id=' + Id,
                    dataType: "html",

                    success: function (msg) {
                        window.location.href = "../Index/Index";

                    }

                });
        }
    </script>
   
</body>

</html>