
@{
    Layout = null;
    string cpwd = "";
}
@using System;

<!DOCTYPE html>
<html>
<head>
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>*@

    @*<script>
            $(document).ready(function () {
               //

                $('.modal-trigger').leanModal();
            });
        </script>*@
    @*<script>
            document.addEventListener('DOMContentLoaded', function () {

                if (Notification.permission !== "granted") {
                    Notification.requestPermission();
                }
                customnotify('Shivam', 'Hello how are you', 'http://www.aspbucket.com')
            });

            function customnotify(title, desc, url) {

                if (Notification.permission !== "granted") {
                    Notification.requestPermission();
                }
                else {
                    var notification = new Notification(title, {
                        icon: 'http://Your_Website.com/logo.png',
                        body: desc,
                    });

                    /* Remove the notification from Notification Center when clicked.*/
                    notification.onclick = function () {
                        window.open(url);
                    };

                    /* Callback function when the notification is closed. */
                    notification.onclose = function () {
                        console.log('Notification closed');
                    };

                }
            }
        </script>*@
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>
        Socioboard - Generate More leads on Social Media| Social CRM | Social Media CMS
    </title>

    <script type="text/javascript" src="~/contents/socioboard/global/plugins/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="apple-touch-icon" sizes="57x57" href="~/contents/socioboard/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/contents/socioboard/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/contents/socioboard/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/contents/socioboard/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/contents/socioboard/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/contents/socioboard/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/contents/socioboard/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/contents/socioboard/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/contents/socioboard/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/frontend//imgs/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/contents/socioboard/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/contents/socioboard/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/contents/socioboard/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/contents/socioboard/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/contents/socioboard/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:site_name" content="socioboard.com">
    <meta property="og:title" content="Socioboard - Open Source Social Technology Enabler | Find More Customers on Social Media">
    <meta property="og:description" content="Be it marketing(finding leads/customers) on Social media, or listening to customer complaints, replying to them, managing multiple social media accounts from one single dashboard, finding influencers in a particular category and reaching out to them and many more things, Socioboard products can do it.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://i.imgur.com/1B8wv5m.png">
    <meta property="og:url" content="https://www.facebook.com/SocioBoard">
    <meta name="google-site-verification" content="xCSHLNCGW3vt4KPtqZk8aYo41D1_FNVDaWspZPIc8ac" />



    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/contents/socioboard/global/plugins/materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="~/contents/socioboard/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/contents/socioboard/css/frontend/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="~/contents/socioboard/css/frontend/hello_bar.css" rel="stylesheet" />
    <link href="~/contents/socioboard/css/frontend/custom.css" rel="stylesheet" />
    <link href="~/contents/socioboard/global/plugins/animate.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="~/contents/socioboard/global/plugins/simple-line-icons/simple-line-icons.css" rel="stylesheet" />
    @RenderSection("CSS", false)
</head>

<body>

    <!-- hello bar for chrome plugins -->
    <div id='bizzbar'>
        <p class='bizztext'>Download Socioboard Chrome Plugin here -> !! <a class='bizzbutton' href="https://chrome.google.com/webstore/detail/socioboard/dlapikocbmncdoiekdacodlgjcdcachc?hl=en-GB" target="_blank">Download Now</a></p>
        <close class="animated headShake infinite"></close>
    </div>
    <open id="animatedShowPlugin" class="animated pulse infinite" style="width:2px" onclick="barShow()"></open>
    <div class="navbar-fixed" style="padding-top: 30px;">
        <!-- Dropdown Structure -->
        <ul id="Versions" class="dropdown-content">
            <li><a href="http://socioboard.org/" target="_blank">Community</a></li>
            <li><a href="~/Index/Agency">Agency</a></li>
            <li><a href="~/Index/Enterprise">Enterprise</a></li>
        </ul>
        <ul id="Versions_mob" class="dropdown-content">
            <li><a href="http://socioboard.org/" target="_blank">Community</a></li>
            <li><a href="~/Index/Agency">Agency</a></li>
            <li><a href="~/Index/Enterprise">Enterprise</a></li>
        </ul>
        <ul id="Insights" class="dropdown-content">
            <li><a href="http://wiki.socioboard.com/index.php/Main_Page" target="_blank">Wiki</a></li>
            @*<li><a href="http://blog.socioboard.com/category/cases">Cases</a></li>*@
            <li><a href="http://blog.socioboard.com/" target="_blank">Blogs</a></li>
            <li><a href="~/Index/Download">Download</a></li>
        </ul>
        <ul id="Insights_mob" class="dropdown-content">
            <li><a href="http://wiki.socioboard.com/index.php/Main_Page" target="_blank">Wiki</a></li>
            @*<li><a href="http://blog.socioboard.com/category/cases">Cases</a></li>*@
            <li><a href="http://blog.socioboard.com/" target="_blank">Blogs</a></li>
            <li><a href="~/Index/Download">Download</a></li>
            @*<li><a href="https://chrome.google.com/webstore/detail/socioboard/dlapikocbmncdoiekdacodlgjcdcachc?utm_source=chrome-app-launcher-info-dialog">Download Chrome Plugin</a></li>*@
        </ul>

        <ul id="Help" class="dropdown-content">
            <li><a href="~/Index/Careers">Careers</a></li>
            <li><a href="~/Index/Training">Training</a></li>
            <li><a href="~/Index/FAQ">FAQs</a></li>
        </ul>
        <ul id="Help_mob" class="dropdown-content">
            <li><a href="~/Index/Careers">Careers</a></li>
            <li><a href="~/Index/Training">Training</a></li>
            <li><a href="~/Index/FAQ">FAQs</a></li>
        </ul>


        <nav class="white" role="navigation">
            <div class="nav-wrapper">
                <a id="logo-container" href="~/" class="brand-logo"><img src="~/contents/socioboard/images/Socioboard.png" alt="Socioboard"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="~/Index/Company">Company</a></li>
                    <li><a href="~/Index/Products">Products</a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="Versions">Versions<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="~/Index/Plans">Pricing</a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="Insights">Insights<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="Help">Help<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="modal-trigger" href="#SignUpModal" onclick="SetUser(); mobLocate()">Signup</a></li>
                    <li><a class="waves-effect waves-light btn modal-trigger  grey darken-4 " href="../Index/SignIn">SignIn</a></li>
                </ul>

                <ul id="nav-mobile" class="side-nav">
                    <li><a href="~/Index/Company">Company</a></li>
                    <li><a href="products.html">Products</a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="Versions_mob">Versions<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="~/Index/Plans">Pricing</a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="Insights_mob">Insights<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="Help_mob">Help<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="modal-trigger" href="#SignUpModal">Signup</a></li>
                    <li><a class="waves-effect waves-light btn modal-trigger grey darken-4" href="../Index/SignIn">SignIn</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>

    </div>

    @RenderBody()



    <footer class="page-footer">
        <div class="container">
            <div class="row center-align">
                <div class="col l6 s12">
                    <h5 class="white-text">GET IN TOUCH WITH US</h5>
                    <p class="grey-text text-lighten-4">TV Complex, 2, 60 Feet Rd, 6th Block, Koramangala, Bengaluru, Karnataka 560095</p>
                    <img src="/contents/socioboard/images/contactus.png">

                </div>
                <div class="col l6 s12">
                    <div id="fb-root"></div>
                    <script>
                        (function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=1551064375135193";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>

                    <div class="fb-page" data-href="https://www.facebook.com/socioboard" data-tabs="timeline" data-width="500" data-height="200" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/socioboard"><a href="https://www.facebook.com/socioboard">Socioboard</a></blockquote></div></div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                <!-- Made by with ♥ <a class="brown-text text-lighten-3" href="https://www.behance.net/chanchalsantra">Chanchal Santra</a> -->
                Copyright © 2014 - 2017 Socioboard Technologies Pvt. Ltd. All Rights Reserved.
                &nbsp; <a href="../Privacy" target="_blank" class="grey-text text-darken-4">Privacy Policy</a>
                &nbsp; <a href="../Index/Refund_Policy" target="_blank" class="grey-text text-darken-4">Refund Policy</a>
                @*&nbsp; <a href="../Index/Sitemap" target="_blank" class="grey-text text-darken-4">Sitemap</a>*@
            </div>

        </div>
    </footer>


    <!-- SignUp Modal -->
    <div id="SignUpModal" class="modal modal-fixed-footer" style="width: 600px;">
        <form onsubmit="myFunction(); return false;" id="RegistrationForm">
            <div class="modal-content">
                <h4 class="center">Create a free account</h4>
                <div class="row">
                    <div class="row">
                        <div class="input-field col s12 m12">
                            <div class="center">
                                <a id="fb_account" href="#" onclick="googleLogin();">
                                    <img src="~/contents/socioboard/images/gplus_signin_button.png" class="responsive-img" alt="" data-pin-nopin="true">
                                </a><br>
                                <a id="fb_account" href="#" onclick="facebookLogin();">
                                    <img src="~/contents/socioboard/images/fb_signin_button.png" class="responsive-img" alt="" data-pin-nopin="true">
                                </a>
                            </div>
                        </div>
                        <div class="input-field col s12 m12">
                            <select id="AccountType" name="AccountType">
                                <optgroup label="Basic Plans">
                                    <option value="0">Basic(Free)</option>
                                    <option value="1">Standard</option>
                                    <option value="2">Premium</option>
                                    <option value="3">Deluxe</option>
                                </optgroup>
                                <optgroup label="Expert Plans">
                                    <option value="4">Topaz</option>
                                    <option value="5">Ruby</option>
                                    <option value="6">Gold</option>
                                    <option value="7">Platinum</option>
                                </optgroup>
                            </select>
                            <label>Choose your option</label>
                        </div>
                        <div class="input-field col s12 m12">
                            <select id="PaymentType" name="PaymentType">
                                <optgroup label="PaymentType">
                                    <option value="0">paypal</option>
                                    <option value="1">payumoney</option>
                                </optgroup>
                            </select>
                            <label>Choose your option</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="FirstName" name="FirstName" type="text" required class="validate" pattern="^[a-zA-Z0-9]+$">
                            <label for="FirstName">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="LastName" name="LastName" type="text" required class="validate" pattern="^[a-zA-Z0-9]+$">
                            <label for="LastName">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="EmailId" name="EmailId" type="email" required class="validate" pattern="^([a-zA-Z0-9_\-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$">
                            <label for="EmailId" data-error="wrong" data-success="right">Email</label>
                        </div>
                    </div>
                    @*<div class="row">
                        <div class="input-field col s12">
                            <select id="CountrySelect" name="CountrySelect" onchange="change_country(value)">
                                <option value="AF">Afghanistan</option>
                                <option value="AX">Åland Islands</option>
                                <option value="AL">Albania</option>
                                <option value="DZ">Algeria</option>
                                <option value="AS">American Samoa</option>
                                <option value="AD">Andorra</option>
                                <option value="AO">Angola</option>
                                <option value="AI">Anguilla</option>
                                <option value="AQ">Antarctica</option>
                                <option value="AG">Antigua and Barbuda</option>
                                <option value="AR">Argentina</option>
                                <option value="AM">Armenia</option>
                                <option value="AW">Aruba</option>
                                <option value="AU">Australia</option>
                                <option value="AT">Austria</option>
                                <option value="AZ">Azerbaijan</option>
                                <option value="BS">Bahamas</option>
                                <option value="BH">Bahrain</option>
                                <option value="BD">Bangladesh</option>
                                <option value="BB">Barbados</option>
                                <option value="BY">Belarus</option>
                                <option value="BE">Belgium</option>
                                <option value="BZ">Belize</option>
                                <option value="BJ">Benin</option>
                                <option value="BM">Bermuda</option>
                                <option value="BT">Bhutan</option>
                                <option value="BO">Bolivia, Plurinational State of</option>
                                <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                <option value="BA">Bosnia and Herzegovina</option>
                                <option value="BW">Botswana</option>
                                <option value="BV">Bouvet Island</option>
                                <option value="BR">Brazil</option>
                                <option value="IO">British Indian Ocean Territory</option>
                                <option value="BN">Brunei Darussalam</option>
                                <option value="BG">Bulgaria</option>
                                <option value="BF">Burkina Faso</option>
                                <option value="BI">Burundi</option>
                                <option value="KH">Cambodia</option>
                                <option value="CM">Cameroon</option>
                                <option value="CA">Canada</option>
                                <option value="CV">Cape Verde</option>
                                <option value="KY">Cayman Islands</option>
                                <option value="CF">Central African Republic</option>
                                <option value="TD">Chad</option>
                                <option value="CL">Chile</option>
                                <option value="CN">China</option>
                                <option value="CX">Christmas Island</option>
                                <option value="CC">Cocos (Keeling) Islands</option>
                                <option value="CO">Colombia</option>
                                <option value="KM">Comoros</option>
                                <option value="CG">Congo</option>
                                <option value="CD">Congo, the Democratic Republic of the</option>
                                <option value="CK">Cook Islands</option>
                                <option value="CR">Costa Rica</option>
                                <option value="CI">Côte d'Ivoire</option>
                                <option value="HR">Croatia</option>
                                <option value="CU">Cuba</option>
                                <option value="CW">Curaçao</option>
                                <option value="CY">Cyprus</option>
                                <option value="CZ">Czech Republic</option>
                                <option value="DK">Denmark</option>
                                <option value="DJ">Djibouti</option>
                                <option value="DM">Dominica</option>
                                <option value="DO">Dominican Republic</option>
                                <option value="EC">Ecuador</option>
                                <option value="EG">Egypt</option>
                                <option value="SV">El Salvador</option>
                                <option value="GQ">Equatorial Guinea</option>
                                <option value="ER">Eritrea</option>
                                <option value="EE">Estonia</option>
                                <option value="ET">Ethiopia</option>
                                <option value="FK">Falkland Islands (Malvinas)</option>
                                <option value="FO">Faroe Islands</option>
                                <option value="FJ">Fiji</option>
                                <option value="FI">Finland</option>
                                <option value="FR">France</option>
                                <option value="GF">French Guiana</option>
                                <option value="PF">French Polynesia</option>
                                <option value="TF">French Southern Territories</option>
                                <option value="GA">Gabon</option>
                                <option value="GM">Gambia</option>
                                <option value="GE">Georgia</option>
                                <option value="DE">Germany</option>
                                <option value="GH">Ghana</option>
                                <option value="GI">Gibraltar</option>
                                <option value="GR">Greece</option>
                                <option value="GL">Greenland</option>
                                <option value="GD">Grenada</option>
                                <option value="GP">Guadeloupe</option>
                                <option value="GU">Guam</option>
                                <option value="GT">Guatemala</option>
                                <option value="GG">Guernsey</option>
                                <option value="GN">Guinea</option>
                                <option value="GW">Guinea-Bissau</option>
                                <option value="GY">Guyana</option>
                                <option value="HT">Haiti</option>
                                <option value="HM">Heard Island and McDonald Islands</option>
                                <option value="VA">Holy See (Vatican City State)</option>
                                <option value="HN">Honduras</option>
                                <option value="HK">Hong Kong</option>
                                <option value="HU">Hungary</option>
                                <option value="IS">Iceland</option>
                                <option value="IN">India</option>
                                <option value="ID">Indonesia</option>
                                <option value="IR">Iran, Islamic Republic of</option>
                                <option value="IQ">Iraq</option>
                                <option value="IE">Ireland</option>
                                <option value="IM">Isle of Man</option>
                                <option value="IL">Israel</option>
                                <option value="IT">Italy</option>
                                <option value="JM">Jamaica</option>
                                <option value="JP">Japan</option>
                                <option value="JE">Jersey</option>
                                <option value="JO">Jordan</option>
                                <option value="KZ">Kazakhstan</option>
                                <option value="KE">Kenya</option>
                                <option value="KI">Kiribati</option>
                                <option value="KP">Korea, Democratic People's Republic of</option>
                                <option value="KR">Korea, Republic of</option>
                                <option value="KW">Kuwait</option>
                                <option value="KG">Kyrgyzstan</option>
                                <option value="LA">Lao People's Democratic Republic</option>
                                <option value="LV">Latvia</option>
                                <option value="LB">Lebanon</option>
                                <option value="LS">Lesotho</option>
                                <option value="LR">Liberia</option>
                                <option value="LY">Libya</option>
                                <option value="LI">Liechtenstein</option>
                                <option value="LT">Lithuania</option>
                                <option value="LU">Luxembourg</option>
                                <option value="MO">Macao</option>
                                <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                                <option value="MG">Madagascar</option>
                                <option value="MW">Malawi</option>
                                <option value="MY">Malaysia</option>
                                <option value="MV">Maldives</option>
                                <option value="ML">Mali</option>
                                <option value="MT">Malta</option>
                                <option value="MH">Marshall Islands</option>
                                <option value="MQ">Martinique</option>
                                <option value="MR">Mauritania</option>
                                <option value="MU">Mauritius</option>
                                <option value="YT">Mayotte</option>
                                <option value="MX">Mexico</option>
                                <option value="FM">Micronesia, Federated States of</option>
                                <option value="MD">Moldova, Republic of</option>
                                <option value="MC">Monaco</option>
                                <option value="MN">Mongolia</option>
                                <option value="ME">Montenegro</option>
                                <option value="MS">Montserrat</option>
                                <option value="MA">Morocco</option>
                                <option value="MZ">Mozambique</option>
                                <option value="MM">Myanmar</option>
                                <option value="NA">Namibia</option>
                                <option value="NR">Nauru</option>
                                <option value="NP">Nepal</option>
                                <option value="NL">Netherlands</option>
                                <option value="NC">New Caledonia</option>
                                <option value="NZ">New Zealand</option>
                                <option value="NI">Nicaragua</option>
                                <option value="NE">Niger</option>
                                <option value="NG">Nigeria</option>
                                <option value="NU">Niue</option>
                                <option value="NF">Norfolk Island</option>
                                <option value="MP">Northern Mariana Islands</option>
                                <option value="NO">Norway</option>
                                <option value="OM">Oman</option>
                                <option value="PK">Pakistan</option>
                                <option value="PW">Palau</option>
                                <option value="PS">Palestinian Territory, Occupied</option>
                                <option value="PA">Panama</option>
                                <option value="PG">Papua New Guinea</option>
                                <option value="PY">Paraguay</option>
                                <option value="PE">Peru</option>
                                <option value="PH">Philippines</option>
                                <option value="PN">Pitcairn</option>
                                <option value="PL">Poland</option>
                                <option value="PT">Portugal</option>
                                <option value="PR">Puerto Rico</option>
                                <option value="QA">Qatar</option>
                                <option value="RE">Réunion</option>
                                <option value="RO">Romania</option>
                                <option value="RU">Russian Federation</option>
                                <option value="RW">Rwanda</option>
                                <option value="BL">Saint Barthélemy</option>
                                <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                                <option value="KN">Saint Kitts and Nevis</option>
                                <option value="LC">Saint Lucia</option>
                                <option value="MF">Saint Martin (French part)</option>
                                <option value="PM">Saint Pierre and Miquelon</option>
                                <option value="VC">Saint Vincent and the Grenadines</option>
                                <option value="WS">Samoa</option>
                                <option value="SM">San Marino</option>
                                <option value="ST">Sao Tome and Principe</option>
                                <option value="SA">Saudi Arabia</option>
                                <option value="SN">Senegal</option>
                                <option value="RS">Serbia</option>
                                <option value="SC">Seychelles</option>
                                <option value="SL">Sierra Leone</option>
                                <option value="SG">Singapore</option>
                                <option value="SX">Sint Maarten (Dutch part)</option>
                                <option value="SK">Slovakia</option>
                                <option value="SI">Slovenia</option>
                                <option value="SB">Solomon Islands</option>
                                <option value="SO">Somalia</option>
                                <option value="ZA">South Africa</option>
                                <option value="GS">South Georgia and the South Sandwich Islands</option>
                                <option value="SS">South Sudan</option>
                                <option value="ES">Spain</option>
                                <option value="LK">Sri Lanka</option>
                                <option value="SD">Sudan</option>
                                <option value="SR">Suriname</option>
                                <option value="SJ">Svalbard and Jan Mayen</option>
                                <option value="SZ">Swaziland</option>
                                <option value="SE">Sweden</option>
                                <option value="CH">Switzerland</option>
                                <option value="SY">Syrian Arab Republic</option>
                                <option value="TW">Taiwan, Province of China</option>
                                <option value="TJ">Tajikistan</option>
                                <option value="TZ">Tanzania, United Republic of</option>
                                <option value="TH">Thailand</option>
                                <option value="TL">Timor-Leste</option>
                                <option value="TG">Togo</option>
                                <option value="TK">Tokelau</option>
                                <option value="TO">Tonga</option>
                                <option value="TT">Trinidad and Tobago</option>
                                <option value="TN">Tunisia</option>
                                <option value="TR">Turkey</option>
                                <option value="TM">Turkmenistan</option>
                                <option value="TC">Turks and Caicos Islands</option>
                                <option value="TV">Tuvalu</option>
                                <option value="UG">Uganda</option>
                                <option value="UA">Ukraine</option>
                                <option value="AE">United Arab Emirates</option>
                                <option value="GB">United Kingdom</option>
                                <option value="US">United States</option>
                                <option value="UM">United States Minor Outlying Islands</option>
                                <option value="UY">Uruguay</option>
                                <option value="UZ">Uzbekistan</option>
                                <option value="VU">Vanuatu</option>
                                <option value="VE">Venezuela, Bolivarian Republic of</option>
                                <option value="VN">Viet Nam</option>
                                <option value="VG">Virgin Islands, British</option>
                                <option value="VI">Virgin Islands, U.S.</option>
                                <option value="WF">Wallis and Futuna</option>
                                <option value="EH">Western Sahara</option>
                                <option value="YE">Yemen</option>
                                <option value="ZM">Zambia</option>
                                <option value="ZW">Zimbabwe</option>
                            </select>
                            <label>Choose Country</label>
                        </div>
                    </div>
                    <div>
                        <div class="input-field col s2">
                            <input id="countryCode" name="PhoneNumber" type="text" class="validate black-text" title="Please enter country code" disabled />
                            <label for="countryCode" data-error="PhoneNumber" data-success="right"></label>
                        </div>
                        <div class="input-field col s10">
                            <input id="PhoneNumber" name="PhoneNumber" type="tel" class="validate" title="Please enter number only" min="8" max="15"  pattern="[0-9]+" required>
                            <label for="PhoneNumber" data-error="PhoneNumber" data-success="right">Mobile</label>
                        </div>
                    </div>*@
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="Password" name="Password" type="password" title="One Capital letter,One Small letter,One number,One special character and min lenght must be 8" data-rule-minlength="8" required class="validate" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@@$!%*?&])[A-Za-z\d$@@$!%*?&]{8,}">
                            <label for="Password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="CnfPassword" name="CnfPassword" type="password" data-rule-minlength="8" required class="validate">
                            <label for="CnfPassword">Confirm Password</label>

                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="promo_code" name="promo_code" type="text">
                            <label for="promo_code">Enter Your Referral Code</label>
                        </div>
                        <div class="input-field col s6 center">
                            <a id="submitPromoButton" onclick="Verifypromocode();" class="btn blue">Verify</a>
                        </div>
                        <div class="col s12">
                            <label id="verified_promocode"></label>
                            <label id="Failed_promocode"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                @*<div id="ImgLoading" class="btn btn-flat btn-primary ink-reaction hide"> <img class='img-portfolio img-responsive right' src='~/contents/socioboard/images/loading-spinner-grey.gif'></div>*@
                <button id="submitButton" type="submit" class="btn btn-flat btn-primary ink-reaction"> Register</button>

                <div></div>
            </div>
        </form>
    </div>



    <!-- SignInModal Structure -->
    <div id="SignInModal" class="modal">
        <div class="modal-content">
            <h4 class="center-align Righteous_font">Sign In</h4>
            <div class="col-md-12" id="fb-gp-login" style="display:none;">
                <div class="alert">
                    <strong style="font-weight:600">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Please wait for your login</strong>
                    <img src="~/contents/socioboard/images/login_loader.gif" style="height:20px" />
                </div>
            </div>
            <hr>
            <div class="row center-align">
                <form onsubmit="Login(); return false;" class="col m6 s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="logUserName" name="logUserName" type="email" class="validate" required onblur="retpwd();">
                            <label for="logUserName">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="logPassword" name="logPassword" type="password" data-rule-minlength="6" required class="validate">
                            <label for="logPassword">Password</label>
                        </div>
                    </div>
                    <p>
                        <input type="checkbox" id="RememberMe" />
                        <label for="RememberMe">Remember me</label>
                    </p>
                    <p>Forgot password? <a class="modal-trigger modal-action modal-close modal-trigger" href="#ForgotPasswdModal" onclick="chng_btn_val_rev()">Click here to restore</a></p>

                    @*<img class='img-portfolio img-responsive hide' id="logLoading" src='~/contents/socioboard/images/loading-spinner-grey.gif'>*@

                    <div id="btnlogin">
                        <button type="submit" class="modal-action waves-effect waves-green btn">Submit</button>
                    </div>
                </form>
                <form class="col s12 m6">
                    <p>You can also register with your social account</p>
                    <div class="input-group">
                        <a id="fb_account" href="#" onclick="googleLogin();">
                            <img src="~/contents/socioboard/images/gplus_signin_button.png" class="responsive-img" alt="" data-pin-nopin="true">
                        </a><br>
                        <a id="fb_account" href="#" onclick="facebookLogin();">
                            <img src="~/contents/socioboard/images/fb_signin_button.png" class="responsive-img" alt="" data-pin-nopin="true">
                        </a>
                        <p>Not yet registered? &nbsp; <a class="modal-action modal-close modal-trigger" href="#SignUpModal">Register now</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="ForgotPasswdModal" class="modal">
        <form onsubmit="forgotPassword(); chng_btn_val(); return false;" class="col m6 s12">
            <div class="modal-content">
                <h4 class="Comfortaa_font">Forgot password</h4>
                <div class="row">
                    <div class="input-field col s12 box1">
                        <input id="forgotPwdEmail" name="forgotPwdEmail" type="email" required class="validate box_input" style="cursor:auto">
                        <label for="forgotPwdEmail">Email</label>
                    </div>

                </div>
            </div>

            @* For change button content after click.. *@
            <script>
                function chng_btn_val() {
                    document.getElementById("sub_btn").value = "Please Wait...";
                }

                function chng_btn_val_rev() {
                    document.getElementById("sub_btn").value = "Submit";
                }
            </script>

            <div class="modal-footer">
                @*<input type="submit" onclick="" id="sub_btn" class="waves-effect waves-light btn cyan" value="Submit" />@*Submit</input>*@
                <button id="sub_btn" type="submit" class="waves-effect waves-light btn cyan" value="submit">Submit</button>
            </div>
        </form>
    </div>


    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/contents/socioboard/global/plugins/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="~/contents/socioboard/js/frontend/init.js"></script>
    <script src="~/contents/socioboard/js/frontend/alertify.min.js"></script>
    <link href="~/contents/socioboard/css/frontend/alertify.core.css" rel="stylesheet" type="text/css" />
    <link href="~/contents/socioboard/css/frontend/alertify.default.css" rel="stylesheet" type="text/css" id="toggleCSS" />
    <script src="~/contents/socioboard/js/frontend/jquery.cookie.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

    <script type="text/javascript">
        $("#bizzbar").effect("bounce", 100);
        $('.image-wrapper').hover(function () {
            $(this).removeClass('hoverOut').addClass('hoverIn');
        }, function () {
            $(this).removeClass('hoverIn').addClass('hoverOut');
        });
    </script>


    @*<!— Hotjar Tracking Code for www.socioboard.com —>*@
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 418900, hjsv: 5 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>

    <!-- ClickDesk Live Chat Service for websites -->
    <script type='text/javascript'>
        var _glc = _glc || []; _glc.push('all_ag9zfmNsaWNrZGVza2NoYXRyDwsSBXVzZXJzGOqp7qkBDA');
        var glcpath = (('https:' == document.location.protocol) ? 'https://my.clickdesk.com/clickdesk-ui/browser/' :
        'http://my.clickdesk.com/clickdesk-ui/browser/');
        var glcp = (('https:' == document.location.protocol) ? 'https://' : 'http://');
        var glcspt = document.createElement('script'); glcspt.type = 'text/javascript';
        glcspt.async = true; glcspt.src = glcpath + 'livechat-new.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(glcspt, s);
    </script>
    <!-- End of ClickDesk -->
    <!-- Start of StatCounter Code for Default Guide -->
    <script type="text/javascript">
        var sc_project = 9930597;
        var sc_invisible = 1;
        var sc_security = "3850c63d";
        var scJsHost = (("https:" == document.location.protocol) ?
        "https://secure." : "http://www.");
        document.write("<sc" + "ript type='text/javascript' src='" +
        scJsHost +
        "statcounter.com/counter/counter.js'></" + "script>");
    </script>
    <noscript>
        <div class="statcounter">
            <a title="shopify site
analytics" href="http://statcounter.com/shopify/"
               target="_blank">
                <img class="statcounter"
                     src="http://c.statcounter.com/9930597/0/3850c63d/1/"
                     alt="shopify site analytics" />
            </a>
        </div>
    </noscript>
    <!-- End of StatCounter Code for Default Guide -->
    <!-- Google Analytics Socioboard -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-58515856-3', 'auto');
        ga('send', 'pageview');

    </script>

        <script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq) return; n = f.fbq = function () {
                    n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
                n.queue = []; t = b.createElement(e); t.async = !0;
                t.src = v; s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '1457593424331152');
            fbq('track', 'PageView');
        </script>
        <noscript>
            <img height="1" width="1"
                 src="https://www.facebook.com/tr?id=1457593424331152&ev=PageView
&noscript=1" />
        </noscript>

            <!-- social profiles -->
            <script type="application/ld+json">
                {
                "@@context" : "http://schema.org",
                "@@type" : "Organization",
                "name" : "Socioboard",
                "url" : "https://www.Socioboard.com",
                "sameAs" : [
                "http://www.facebook.com/SocioBoard",
                "http://www.twitter.com/Socioboard",
                "https://www.linkedin.com/company/socioboard",
                "https://www.youtube.com/channel/UCo1ufEhFVWB99EMSkQKsx0Q",
                "https://plus.google.com/u/0/105412765098773776122"
                ]
                }
            </script>

            <script type="text/javascript">
                $(function () {

                    var timezone_cookie = "timezoneoffset";
                    // jQuery.noConflict();
                    if (!$.cookie(timezone_cookie)) { // if the timezone cookie not exists create one.

                        // check if the browser supports cookie
                        var test_cookie = 'test cookie';
                        $.cookie(test_cookie, true);

                        if ($.cookie(test_cookie)) { // browser supports cookie

                            // delete the test cookie.
                            $.cookie(test_cookie, null);

                            // create a new cookie
                            $.cookie(timezone_cookie, new Date().getTimezoneOffset());

                            // location.reload(); // re-load the page
                        }
                    }
                    else { // if the current timezone and the one stored in cookie are different then
                        // store the new timezone in the cookie and refresh the page.

                        var storedOffset = parseInt($.cookie(timezone_cookie));
                        var currentOffset = new Date().getTimezoneOffset();

                        if (storedOffset !== currentOffset) { // user may have changed the timezone
                            $.cookie(timezone_cookie, new Date().getTimezoneOffset());
                            //  location.reload();
                        }
                    }
                });



            </script>

            <style>
                .alert-danger {
                    background-color: #f2dede;
                    border-color: #ebccd1;
                    color: #a94442;
                }
            </style>
            @*<script>
                    $(document).ready(function () {

                        $('.modal-trigger').leanModal();
                    });
                </script>*@

            <script>
                function myFunction() {
                    $('#ImgLoading').show();
                    $('#submitButton').hide();
                    var firstName = $('#FirstName').val();
                    var lastName = $('#LastName').val();
                    var email = $('#EmailId').val();
                    var country = $('#CountrySelect').val();
                    var phoneCode = $('#countryCode').val();
                    // var company = $('#req_Company').val();
                    var Phone = $('#PhoneNumber').val();
                    //var PhoneNo = phoneCode + Phone;
                    var password = $('#Password').val();
                    var cnfPassword = $('#CnfPassword').val();
                    var accountType = $('#AccountType').val();
                    var PaymentType = $('#PaymentType').val();
                    var promo_code = $('#promo_code').val();
                    if (password != cnfPassword) {
                        alert('password not match');
                        $('#ImgLoading').hide();
                        $('#submitButton').show();
                        return false;
                    }

                    $.ajax({

                        type: "POST",

                        url: "@ViewBag.ApiDomain/api/user/Register",

                        data: { "FirstName": firstName, "LastName": lastName, "EmailId": email, "password": password, "AccountType": accountType, "PaymentType": PaymentType, "Country": country, "PhoneCode": phoneCode, "ReferdBy": promo_code },

                        //contentType: "application/json; charset=utf-8",

                        dataType: "html",

                        success: function (msg) {
                            alertify.set({ delay: 5000 });
                            alertify.success("Verification mail sent successfully.");
                            $('#FirstName').val("");
                            $('#LastName').val("");
                            $('#EmailId').val("");
                            $('#Password').val("");
                            $('#CnfPassword').val("");
                            $('#promo_code').val("")
                            $('#ImgLoading').hide();
                            $('#submitButton').show(); .4
                            // $('#req_skype').val("");

                            if (accountType != "0") {
                                $.ajax({

                                    type: "GET",

                                    url: "@ViewBag.Domain/Home/PayPalAccount",

                                    data: { "emailId": email, "IsLogin": false },

                                    dataType: "html",
                                    success: function (msg) {
                                        alertify.set({ delay: 5000 });
                                        alertify.error("please submit Payment detail.");
                                        window.top.location = msg;
                                    },
                                    error: function (msg) {

                                        return false;
                                    }
                                });
                            }
                        },
                        error: function (msg) {
                            alertify.set({ delay: 5000 });
                            alertify.error(msg.responseText);
                            $('#ImgLoading').hide();
                            $('#submitButton').show();
                            return false;
                        }

                    });
                    $('#ImgLoading').hide();
                    $('#submitButton').show();
                    return false;
                }

                //function RegisterNow()
                //{
                //     $('#SignInModal').hide();
                //     $("#SignUpModal").modal();
                //}
            </script>

    <script>
        function Verifypromocode() {
            var promo_code = $('#promo_code').val();
            if (promo_code == "")
            {
                alertify.error("Please Enter Referral code");
            }
            else
            {
                $.ajax({
                    type: "POST",
                    url: "@ViewBag.ApiDomain/api/user/VerifyRefrralCode",
                    data: { "Promo_Code": promo_code },
                    dataType: "html",
                    success: function (msg) {
                        alertify.set({ delay: 5000 });
                        alertify.success(msg);
                    },
                    error: function (msg) {
                        alertify.set({ delay: 5000 });
                        alertify.error(msg.responseText);
                    }
                    });

            }
           } 
    </script>

            <script>
                function Login() {
                    $('#logLoading').show();
                    $('input[type="submit"]').attr('disabled', true);
                    $('#submitButton').hide();
                    $("#fb-gp-login").css("display", "block");
                    var userName = $('#logUserName').val();
                    var password = $('#logPassword').val();


                    $.ajax({

                        type: "POST",

                        url: "@ViewBag.Domain/Index/Login",

                        data: { "UserName": userName, "Password": password },

                        //contentType: "application/json; charset=utf-8",

                        dataType: "html",

                        success: function (msg) {

                            $("#fb-gp-login").css("display", "none");
                            //Savesessiondata();
                            //sleep(30000);
                            if (msg == "SuperAdmin") {
                                window.top.location = '../AdminHome/Dashboard';
                            }
                            if (msg == "TwoStepLogin") {
                                window.top.location = '/Index/TwoStepOtp';
                            }
                            if (msg == "UpgradePlans") {
                                alertify.alert("your account has been expired.Please upgrade it.");
                                setTimeout(function () {
                                    window.top.location = '/Index/UpgradePlans'
                                }, 3000);
                            }
                            else if (msg == "1") {
                                $('input[type="submit"]').attr('disabled', false);
                                if ($("#RememberMe").is(':checked')) {

                                    checkCookie(userName, password);

                                }
                                window.top.location = '/home/index'
                            } else if (msg == "Trail Expire") {
                                alertify.error("your trial has beed expired.so you can't use paid features");
                                setTimeout(function () {
                                    window.top.location = '/home/index';
                                }, 3000);
                            }
                            else if (msg == "2") {
                                alertify.error("Payment details is not submitted.Please submit paypal detail.");
                                $.ajax({

                                    type: "GET",

                                    url: "@ViewBag.Domain/Home/PayPalAccount",

                                    data: { "emailId": userName, "IsLogin": false },

                                    dataType: "html",
                                    success: function (msg) {
                                        window.top.location = msg;
                                    },
                                    error: function (msg) {

                                        return false;
                                    }
                                });

                            }
                            else {
                                alertify.set({ delay: 5000 });
                                alertify.error(msg);
                            }
                        },
                        error: function (msg) {
                            $("#fb-gp-login").css("display", "none");
                            alertify.error("It seems like your connectivity to the internet is impaired");
                            $('#logLoading').hide();
                            $('#submitButton').show();
                            return false;
                        }

                    });
                    $('#logLoading').hide();
                    $('#submitButton').show();
                    return false;
                }

                function sleep(milliseconds) {
                    var start = new Date().getTime();
                    for (var i = 0; i < 1e7; i++) {
                        if ((new Date().getTime() - start) > milliseconds) {
                            break;
                        }
                    }
                }
                /*set cookies for login user*/
                function setCookie(cemail, password, exdays) {
                    var Base64 = { _keyStr: "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=", encode: function (e) { var t = ""; var n, r, i, s, o, u, a; var f = 0; e = Base64._utf8_encode(e); while (f < e.length) { n = e.charCodeAt(f++); r = e.charCodeAt(f++); i = e.charCodeAt(f++); s = n >> 2; o = (n & 3) << 4 | r >> 4; u = (r & 15) << 2 | i >> 6; a = i & 63; if (isNaN(r)) { u = a = 64 } else if (isNaN(i)) { a = 64 } t = t + this._keyStr.charAt(s) + this._keyStr.charAt(o) + this._keyStr.charAt(u) + this._keyStr.charAt(a) } return t }, decode: function (e) { var t = ""; var n, r, i; var s, o, u, a; var f = 0; e = e.replace(/[^A-Za-z0-9+/=]/g, ""); while (f < e.length) { s = this._keyStr.indexOf(e.charAt(f++)); o = this._keyStr.indexOf(e.charAt(f++)); u = this._keyStr.indexOf(e.charAt(f++)); a = this._keyStr.indexOf(e.charAt(f++)); n = s << 2 | o >> 4; r = (o & 15) << 4 | u >> 2; i = (u & 3) << 6 | a; t = t + String.fromCharCode(n); if (u != 64) { t = t + String.fromCharCode(r) } if (a != 64) { t = t + String.fromCharCode(i) } } t = Base64._utf8_decode(t); return t }, _utf8_encode: function (e) { e = e.replace(/rn/g, "n"); var t = ""; for (var n = 0; n < e.length; n++) { var r = e.charCodeAt(n); if (r < 128) { t += String.fromCharCode(r) } else if (r > 127 && r < 2048) { t += String.fromCharCode(r >> 6 | 192); t += String.fromCharCode(r & 63 | 128) } else { t += String.fromCharCode(r >> 12 | 224); t += String.fromCharCode(r >> 6 & 63 | 128); t += String.fromCharCode(r & 63 | 128) } } return t }, _utf8_decode: function (e) { var t = ""; var n = 0; var r = c1 = c2 = 0; while (n < e.length) { r = e.charCodeAt(n); if (r < 128) { t += String.fromCharCode(r); n++ } else if (r > 191 && r < 224) { c2 = e.charCodeAt(n + 1); t += String.fromCharCode((r & 31) << 6 | c2 & 63); n += 2 } else { c2 = e.charCodeAt(n + 1); c3 = e.charCodeAt(n + 2); t += String.fromCharCode((r & 15) << 12 | (c2 & 63) << 6 | c3 & 63); n += 3 } } return t } }
                    cpwd = password;
                    var encodedString = Base64.encode(cpwd);

                    var d = new Date();

                    d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));

                    var expires = "expires=" + d.toUTCString();

                    document.cookie = "logininfo" + cemail + "=" + encodedString + ";" + expires;

                }

                function GetAllCookies() {

                    var clist = [];

                    var j = 0;



                    var Cookies = document.cookie.split(';');

                    for (var i = 0; i < Cookies.length; i++) {

                        var currentcooki = Cookies[i];

                        if (currentcooki.indexOf("logininfo") > -1) {

                            clist[j] = currentcooki;

                            j++;

                        }

                    }

                    return clist[0].replace("logininfo", "");

                }

                function getCookie(cemail) {



                    var name = cemail + "=";

                    var ca = document.cookie.split(';');

                    for (var i = 0; i < ca.length; i++) {

                        var c = ca[i];

                        while (c.charAt(0) == ' ') c = c.substring(1);

                        if (c.indexOf(name) != -1) {

                            return c.substring(name.length, c.length);

                        }

                    }

                    return "";

                }

                function checkCookie(username, password) {



                    var check = getCookie("logininfo" + username);
                    if (check != "") {


                    } else {

                        if (username != "" && username != null && password != "" && password != null) {

                            setCookie(username, password, 90);

                        }

                    }

                }

                function retpwd() {
                    var Base64 = { _keyStr: "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=", encode: function (e) { var t = ""; var n, r, i, s, o, u, a; var f = 0; e = Base64._utf8_encode(e); while (f < e.length) { n = e.charCodeAt(f++); r = e.charCodeAt(f++); i = e.charCodeAt(f++); s = n >> 2; o = (n & 3) << 4 | r >> 4; u = (r & 15) << 2 | i >> 6; a = i & 63; if (isNaN(r)) { u = a = 64 } else if (isNaN(i)) { a = 64 } t = t + this._keyStr.charAt(s) + this._keyStr.charAt(o) + this._keyStr.charAt(u) + this._keyStr.charAt(a) } return t }, decode: function (e) { var t = ""; var n, r, i; var s, o, u, a; var f = 0; e = e.replace(/[^A-Za-z0-9+/=]/g, ""); while (f < e.length) { s = this._keyStr.indexOf(e.charAt(f++)); o = this._keyStr.indexOf(e.charAt(f++)); u = this._keyStr.indexOf(e.charAt(f++)); a = this._keyStr.indexOf(e.charAt(f++)); n = s << 2 | o >> 4; r = (o & 15) << 4 | u >> 2; i = (u & 3) << 6 | a; t = t + String.fromCharCode(n); if (u != 64) { t = t + String.fromCharCode(r) } if (a != 64) { t = t + String.fromCharCode(i) } } t = Base64._utf8_decode(t); return t }, _utf8_encode: function (e) { e = e.replace(/rn/g, "n"); var t = ""; for (var n = 0; n < e.length; n++) { var r = e.charCodeAt(n); if (r < 128) { t += String.fromCharCode(r) } else if (r > 127 && r < 2048) { t += String.fromCharCode(r >> 6 | 192); t += String.fromCharCode(r & 63 | 128) } else { t += String.fromCharCode(r >> 12 | 224); t += String.fromCharCode(r >> 6 & 63 | 128); t += String.fromCharCode(r & 63 | 128) } } return t }, _utf8_decode: function (e) { var t = ""; var n = 0; var r = c1 = c2 = 0; while (n < e.length) { r = e.charCodeAt(n); if (r < 128) { t += String.fromCharCode(r); n++ } else if (r > 191 && r < 224) { c2 = e.charCodeAt(n + 1); t += String.fromCharCode((r & 31) << 6 | c2 & 63); n += 2 } else { c2 = e.charCodeAt(n + 1); c3 = e.charCodeAt(n + 2); t += String.fromCharCode((r & 15) << 12 | (c2 & 63) << 6 | c3 & 63); n += 3 } } return t } }

                    var email = $("#logUserName").val();
                    var pwd = getCookie("logininfo" + email.trim());
                    var decodedString = Base64.decode(pwd);
                    @*cpwd=pwd;
            pwd=@Uri.EscapeDataString(cpwd);
            alert(pwd);*@
                    if (email != "" && pwd != "") {
                        $("#RememberMe").prop('checked', true);
                        //var pwd = getCookie("logininfo"+email.trim());
                        document.getElementById("logPassword").value = decodedString;
                    }
                }

                function SetUser() {

                    var currentcookie = GetAllCookies().split('=');
                    var email = currentcookie[0].trim();
                    var pass = currentcookie[1].trim();
                    if (email != "") {
                        $("#RememberMe").attr('checked', 'checked');
                        document.getElementById("logUserName").value = email;
                        document.getElementById("logPassword").value = pass;
                    }
                }

                function mobLocate() {

                    $.get("https://ipinfo.io", function (response) {
                        $("#countryName").val(response.country);
                        change_country(response.country);
                        $("#CountrySelect").val(response.country);
                        $('select').material_select();
                    }, "jsonp");
                }

                /*end of cookies code*/


                function Savesessiondata() {

                    var Ip = '';
                    $.getJSON('//ip-api.com/json?callback=?', function (data) {
                        Ip = data.query;

                        var objappVersion = navigator.appVersion; var objAgent = navigator.userAgent; var objbrowserName = navigator.appName; var objfullVersion = '' + parseFloat(navigator.appVersion); var objBrMajorVersion = parseInt(navigator.appVersion, 10); var objOffsetName, objOffsetVersion, ix;
                        if ((objOffsetVersion = objAgent.indexOf("Chrome")) != -1) {
                            objbrowserName = "Chrome"; objfullVersion = objAgent.substring(objOffsetVersion + 7);
                        }
                        else if ((objOffsetVersion = objAgent.indexOf("MSIE")) != -1) {
                            objbrowserName = "Microsoft Internet Explorer"; objfullVersion = objAgent.substring(objOffsetVersion + 5);
                        }
                        else if ((objOffsetVersion = objAgent.indexOf("Firefox")) != -1) {
                            objbrowserName = "Firefox";
                        }
                        else if ((objOffsetVersion = objAgent.indexOf("Safari")) != -1) {
                            objbrowserName = "Safari"; objfullVersion = objAgent.substring(objOffsetVersion + 7); if ((objOffsetVersion = objAgent.indexOf("Version")) != -1) objfullVersion = objAgent.substring(objOffsetVersion + 8);
                        }
                        else if ((objOffsetName = objAgent.lastIndexOf(' ') + 1) < (objOffsetVersion = objAgent.lastIndexOf('/'))) {
                            objbrowserName = objAgent.substring(objOffsetName, objOffsetVersion); objfullVersion = objAgent.substring(objOffsetVersion + 1); if (objbrowserName.toLowerCase() == objbrowserName.toUpperCase()) { objbrowserName = navigator.appName; }
                        }
                        if ((ix = objfullVersion.indexOf(";")) != -1) objfullVersion = objfullVersion.substring(0, ix); if ((ix = objfullVersion.indexOf(" ")) != -1) objfullVersion = objfullVersion.substring(0, ix); objBrMajorVersion = parseInt('' + objfullVersion, 10); if (isNaN(objBrMajorVersion)) { objfullVersion = '' + parseFloat(navigator.appVersion); objBrMajorVersion = parseInt(navigator.appVersion, 10); }
                        $.ajax({
                            type: "POST",
                            url: "@ViewBag.Domain/Index/SaveSessiondata",
                            data: { "ip": Ip, "browserName": objbrowserName, "userAgent": navigator.userAgent },
                            dataType: "html",
                            success: function (msg) {
                                setCookie("sociorevtoken", msg, "90");
                            },
                            error: function (msg) {
                            }

                        });
                    });

                }
            </script>



            @*Facebook Login JS Start*@
            <script>
                function facebookLogin() {
                    $("#fb-gp-login").css("display", "block");
                    $.ajax({

                        type: "GET",

                        url: "../FacebookManager/getFbLoginUrl?plan=" + $('#AccountType').val(),

                        dataType: "html",

                        success: function (msg) {

                            window.location = msg;

                        }

                    });



                }
            </script>
            @*Facebook Login JS End*@


            @*Google Login JS Start*@
            <script>
                function googleLogin() {
                    $("#fb-gp-login").css("display", "block");

                    $.ajax({

                        type: "GET",

                        url: "../GoogleManager/getGoogleLoginUrl?plan=" + $('#AccountType').val(),

                        dataType: "html",

                        success: function (msg) {

                            window.location = msg;

                        }

                    });



                }
            </script>
            @*Google Login JS End*@


            <script>
                function gotohome() {
                    $.ajax({
                        type: "GET",
                        url: "../Home/IsSessionExist",
                        dataType: "html",
                        success: function (msg) {
                            if (msg == "true") {
                                window.top.location = '/home';
                            } else {
                                $.ajax({
                                    type: "GET",
                                    url: "../Home/UserSession",
                                    dataType: "html",
                                    async: true,
                                    success: function (msg) {
                                        if (msg == "true") {
                                            window.top.location = '/home';
                                        }
                                    }
                                });

                            }
                        }
                    });
                }

                function UserSession() {
                    gotohome();
                    sleep(3000);
                    $('#SignInModal').openModal();
                }
                //  gotohome();
            </script>

            @*Forgot password js start*@
            <script>
                function barShow() {
                    $('#bizzbar').show();
                    $('#animatedShowPlugin').hide();
                }
                function forgotPassword() {

                    var cookies = document.cookie.split(";");
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i];
                        var eqPos = cookie.indexOf("=");
                        var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                        if (name.indexOf("socioboardpluginemailId") > -1) {
                            document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
                        }
                        if (name.indexOf("socioboardpluginToken") > -1) {
                            document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
                        }
                    }
                    $('#ImgLoading').show();
                    $('#submitButton').hide();

                    var emailId = $('#forgotPwdEmail').val();

                    $('#ImgLoading').hide();
                    $('#submitButton').show();


                    $.ajax({

                        type: "POST",

                        url: "@ViewBag.ApiDomain/api/user/ForgotPasswordSendMail",

                        data: { "EmailId": emailId },

                        dataType: "html",

                        success: function (msg) {
                            console.log(msg);
                            if (msg == "EmailId does not exist") {
                                alertify.set({ delay: 10000 });
                                alertify.error("EmailId does not exist");
                            }
                            else {
                                alertify.set({ delay: 10000 });
                                alertify.success(msg);
                            }
                            document.getElementById("sub_btn").value = "Submit";

                            $('#forgotPwdEmail').val("");
                            $('#ImgLoading').hide();
                            $('#submitButton').show();
                        },
                        error: function (msg) {
                            console.log(msg);
                            alertify.set({ delay: 5000 });
                            alertify.error(msg1.responseText);
                            $('#ImgLoading').hide();
                            $('#submitButton').show();
                            return false;
                        }



                    });

                    $('#ImgLoading').hide();
                    $('#submitButton').show();
                    return false;
                }

                /*
        Bizz Bar
        */
                $(document).ready(function () {
                    $("open").click(function () {
                        $("#bizzbar").effect("bounce", "100");
                        $('.navbar-fixed').css('padding-top', '30px');
                        $("open").slideUp()
                    })
                });

                $(document).ready(function () {

                    $("close").click(function () {
                        $('.navbar-fixed').css('padding-top', '0px');
                        $("#bizzbar").slideUp();
                        $("open").slideDown()
                    })
                });
            </script>
            @*Forgot password js end*@

            <script>
                //CountrySelector
                var countryCodeList = new Array();

                countryCodeList['AX'] = '+358';
                countryCodeList['AF'] = '+93';
                countryCodeList['AL'] = '+355';
                countryCodeList['DZ'] = '+213';
                countryCodeList['AS'] = '+684';
                countryCodeList['AD'] = '+376';
                countryCodeList['AO'] = '+244';
                countryCodeList['AI'] = '+1';
                countryCodeList['AQ'] = '+672';
                countryCodeList['AG'] = '+1';
                countryCodeList['AR'] = '+54';
                countryCodeList['AM'] = '+374';
                countryCodeList['AW'] = '+297';
                countryCodeList['AU'] = '+61';
                countryCodeList['AT'] = '+43';
                countryCodeList['AZ'] = '+994';
                countryCodeList['BS'] = '+1';
                countryCodeList['BH'] = '+973';
                countryCodeList['BD'] = '+880';
                countryCodeList['BB'] = '+1';
                countryCodeList['BY'] = '+375';
                countryCodeList['BE'] = '+32';
                countryCodeList['BZ'] = '+501';
                countryCodeList['BJ'] = '+229';
                countryCodeList['BM'] = '+1';
                countryCodeList['BT'] = '+975';
                countryCodeList['BO'] = '+591';
                countryCodeList['BA'] = '+387';
                countryCodeList['BW'] = '+267';
                countryCodeList['BV'] = '+47';
                countryCodeList['BR'] = '+55';
                countryCodeList['IO'] = '+246';
                countryCodeList['BN'] = '+673';
                countryCodeList['BG'] = '+359';
                countryCodeList['BF'] = '+226';
                countryCodeList['BI'] = '+257';
                countryCodeList['KH'] = '+855';
                countryCodeList['CM'] = '+237';
                countryCodeList['CA'] = '+1';
                countryCodeList[''] = '+238';
                countryCodeList['KY'] = '+1';
                countryCodeList['CF'] = '+236';
                countryCodeList['TD'] = '+235';
                countryCodeList['CL'] = '+56';
                countryCodeList['CN'] = '+86';
                countryCodeList['CX'] = '';
                countryCodeList['CC'] = '';
                countryCodeList['CO'] = '+57';
                countryCodeList['KM'] = '+269';
                countryCodeList['CG'] = '+242';
                countryCodeList['CD'] = '+243';
                countryCodeList['CK'] = '+682';
                countryCodeList['CR'] = '+506';
                countryCodeList['CI'] = '+225';
                countryCodeList['HR'] = '+385';
                countryCodeList['CU'] = '+53';
                countryCodeList['CY'] = '+357';
                countryCodeList['CZ'] = '+420';
                countryCodeList['DK'] = '+45';
                countryCodeList['DJ'] = '+253';
                countryCodeList['DM'] = '+1';
                countryCodeList['DO'] = '+1';
                countryCodeList['EC'] = '+593';
                countryCodeList['EG'] = '+20';
                countryCodeList['SV'] = '+503';
                countryCodeList['GQ'] = '+240';
                countryCodeList['ER'] = '+291';
                countryCodeList['EE'] = '+201';
                countryCodeList['ET'] = '+251';
                countryCodeList['FK'] = '+500';
                countryCodeList['FO'] = '+298';
                countryCodeList['FJ'] = '+679';
                countryCodeList['FI'] = '+358';
                countryCodeList['FR'] = '+33';
                countryCodeList['FX'] = '+33';
                countryCodeList['GF'] = '+594';
                countryCodeList['PF'] = '+689';
                countryCodeList['TF'] = '+33';
                countryCodeList['GA'] = '+241';
                countryCodeList['GM'] = '+220';
                countryCodeList['GE'] = '+995';
                countryCodeList['DE'] = '+49';
                countryCodeList['GG'] = '+44';
                countryCodeList['GH'] = '+233';
                countryCodeList['GI'] = '+350';
                countryCodeList['GR'] = '+30';
                countryCodeList['GL'] = '+299';
                countryCodeList['GD'] = '+1';
                countryCodeList['GP'] = '+590';
                countryCodeList['GU'] = '+1';
                countryCodeList['GT'] = '+502';
                countryCodeList['GN'] = '+224';
                countryCodeList['GW'] = '+245';
                countryCodeList['GY'] = '+592';
                countryCodeList['HT'] = '+509';
                countryCodeList['HM'] = '+1';
                countryCodeList['HN'] = '+504';
                countryCodeList['HK'] = '+852';
                countryCodeList['HU'] = '+36';
                countryCodeList['IS'] = '+354';
                countryCodeList['IN'] = '+91';
                countryCodeList['ID'] = '+62';
                countryCodeList['IR'] = '+98';
                countryCodeList['IQ'] = '+964';
                countryCodeList['IE'] = '+353';
                countryCodeList['IL'] = '+972';
                countryCodeList['IT'] = '+39';
                countryCodeList['JM'] = '+1';
                countryCodeList['JP'] = '+81';
                countryCodeList['JO'] = '+962';
                countryCodeList['KZ'] = '+7';
                countryCodeList['KE'] = '+254';
                countryCodeList['KI'] = '+686';
                countryCodeList['KR'] = '+82';
                countryCodeList['KP'] = '+850';
                countryCodeList['KW'] = '+965';
                countryCodeList['KG'] = '+996';
                countryCodeList['LA'] = '+856';
                countryCodeList['LV'] = '+371';
                countryCodeList['LB'] = '+961';
                countryCodeList['LS'] = '+266';
                countryCodeList['LR'] = '+231';
                countryCodeList['LY'] = '+218';
                countryCodeList['LI'] = '+423';
                countryCodeList['LT'] = '+370';
                countryCodeList['LU'] = '+352';
                countryCodeList['MO'] = '+853';
                countryCodeList['MK'] = '+389';
                countryCodeList['MG'] = '+261';
                countryCodeList['MW'] = '+265';
                countryCodeList['MY'] = '+60';
                countryCodeList['MV'] = '+960';
                countryCodeList['ML'] = '+223';
                countryCodeList['MT'] = '+356';
                countryCodeList['MH'] = '+692';
                countryCodeList['MQ'] = '+596';
                countryCodeList['MR'] = '+222';
                countryCodeList['MU'] = '+230';
                countryCodeList['YT'] = '+269';
                countryCodeList['MX'] = '+52';
                countryCodeList['FM'] = '+691';
                countryCodeList['MD'] = '+373';
                countryCodeList['MC'] = '+377';
                countryCodeList['MN'] = '+976';
                countryCodeList['ME'] = '+382';
                countryCodeList['MS'] = '+1';
                countryCodeList['MA'] = '+212';
                countryCodeList['MZ'] = '+258';
                countryCodeList['MM'] = '+95';
                countryCodeList['NA'] = '+264';
                countryCodeList['NR'] = '+674';
                countryCodeList['NP'] = '+977';
                countryCodeList['NL'] = '+31';
                countryCodeList['AN'] = '+599';
                countryCodeList['NC'] = '+687';
                countryCodeList['NZ'] = '+64';
                countryCodeList['NI'] = '+505';
                countryCodeList['NE'] = '+227';
                countryCodeList['NG'] = '+234';
                countryCodeList['NU'] = '+683';
                countryCodeList['NF'] = '+6723';
                countryCodeList['MP'] = '+1';
                countryCodeList['NO'] = '+47';
                countryCodeList['OM'] = '+968';
                countryCodeList['PK'] = '+92';
                countryCodeList['PW'] = '+680';
                countryCodeList['PS'] = '+970';
                countryCodeList['PA'] = '+507';
                countryCodeList['PG'] = '+675';
                countryCodeList['PY'] = '+595';
                countryCodeList['PE'] = '+51';
                countryCodeList['PH'] = '+63';
                countryCodeList['PN'] = '+870';
                countryCodeList['PL'] = '+48';
                countryCodeList['PT'] = '+351';
                countryCodeList['PR'] = '+1';
                countryCodeList['QA'] = '+974';
                countryCodeList['RE'] = '+262';
                countryCodeList['RO'] = '+40';
                countryCodeList['RU'] = '+7';
                countryCodeList['RW'] = '+250';
                countryCodeList['SH'] = '+290';
                countryCodeList['KN'] = '+1';
                countryCodeList['LC'] = '+1';
                countryCodeList['PM'] = '+508';
                countryCodeList['VC'] = '+1';
                countryCodeList['WS'] = '+685';
                countryCodeList['SM'] = '+378';
                countryCodeList['ST'] = '+239';
                countryCodeList['SA'] = '+966';
                countryCodeList['SN'] = '+221';
                countryCodeList['RS'] = '+381';
                countryCodeList['SC'] = '+248';
                countryCodeList['SL'] = '+232';
                countryCodeList['SG'] = '+65';
                countryCodeList['SK'] = '+421';
                countryCodeList['SI'] = '+386';
                countryCodeList['SB'] = '+677';
                countryCodeList['SO'] = '+252';
                countryCodeList['ZA'] = '+27';
                countryCodeList['GS'] = '+44';
                countryCodeList['ES'] = '+34';
                countryCodeList['LK'] = '+94';
                countryCodeList['SD'] = '+249';
                countryCodeList['SR'] = '+597';
                countryCodeList['SJ'] = '+79';
                countryCodeList['SZ'] = '+268';
                countryCodeList['SE'] = '+46';
                countryCodeList['CH'] = '+41';
                countryCodeList['SY'] = '+963';
                countryCodeList['TW'] = '+886';
                countryCodeList['TJ'] = '+992';
                countryCodeList['TZ'] = '+255';
                countryCodeList['TH'] = '+66';
                countryCodeList['TL'] = '+670';
                countryCodeList['TG'] = '+228';
                countryCodeList['TK'] = '+690';
                countryCodeList['TO'] = '+676';
                countryCodeList['TT'] = '+1';
                countryCodeList['TN'] = '+216';
                countryCodeList['TR'] = '+90';
                countryCodeList['TM'] = '+993';
                countryCodeList['TC'] = '+1';
                countryCodeList['TV'] = '+688';
                countryCodeList['UG'] = '+256';
                countryCodeList['UA'] = '+380';
                countryCodeList['AE'] = '+971';
                countryCodeList['GB'] = '+44';
                countryCodeList['US'] = '+1';
                countryCodeList['UM'] = '+1';
                countryCodeList['UY'] = '+598';
                countryCodeList['UZ'] = '+998';
                countryCodeList['VU'] = '+678';
                countryCodeList['VA'] = '+39';
                countryCodeList['VE'] = '+58';
                countryCodeList['VN'] = '+84';
                countryCodeList['VG'] = '+1284';
                countryCodeList['VI'] = '+1340';
                countryCodeList['WF'] = '+681';
                countryCodeList['EH'] = '+212';
                countryCodeList['YE'] = '+967';
                countryCodeList['ZM'] = '+260';
                countryCodeList['ZW'] = '+263';
                function change_country(countrycode) {
                    if (countrycode != "") {
                        countrycode = countrycode.toUpperCase();
                        var counCode = countryCodeList[countrycode];
                        $("#countryCode").val(counCode);


                    }
                    else {
                        return false;
                    }
                }
                //EndCountrySelector

            </script>

            @RenderSection("Scripts", false)
</body>
</html>