@{
    string path = "Socioboard";
    Layout = "~/Themes/" + path + "/Views/Shared/_SocioboardLayout.cshtml";
}

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
@*<script type="text/javascript" src="~/contents/socioboard/global/plugins/materialize/js/materialize.min.js"></script>*@
<script type="text/javascript" src="~/contents/socioboard/js/frontend/init.js"></script>

@{

    List<Domain.Socioboard.Models.Package> lstsb = new List<Domain.Socioboard.Models.Package>();
    lstsb = ViewBag.plugin;
}

<div class="container">
    <section class="pricing margin-top-50">
        <div class="">
            <header>
                <h2 class="Righteous_font grey-text text-darken-2">All Plans Include a Free 30-Day Trial</h2>
                <h5>Upgrade, Change or Cancel Anytime</h5>
            </header>

            <div class="row">
                <div class="col m4 hoverable">
                    <div class="pricing-box ">
                        <div class="pricing-heading">
                          Basic
                        </div><!-- end pricing-heading -->
                        <div class="pricing-price">
                           FREE
                        </div><!-- end pricing-price -->
                        <div class="pricing-description">
                            Every plan is a unique package. This one fits for individuals.
                        </div><!-- end pricing-description -->
                        <ul class="pricing-list">
                            <li>Comprehensive Dashboard</li>
                            <li>Multiple Social Profiles Inbox</li>
                            <li>Social Media Updates</li>
                            <li>Scheduling Features</li>
                            <li>Social Media based CRM</li>
                            <li>Social Platform Reporting Tools</li>
                            <li>World Class 24*7 Training &amp; Support</li>
                            <li>Manage up to 5 profiles</li>
                            <li>1 profile per network</li>
                        </ul><!-- end pricing-list -->
                        <div class="pricing-cta" onclick="$('#planName').html('Free');">
                            <a onclick="SingUpmodal('0')" class="waves-effect waves-light btn-large btn-pricing">Try Now</a>
                        </div><!-- end pricing-cta -->
                    </div><!-- end pricing-box -->
                </div><!-- end col-md-4 -->

                <div class="col m4 hoverable">
                    <div class="pricing-box popular">
                        <div class="pricing-heading">
                            Premium
                        </div><!-- end pricing-heading -->
                        <div class="pricing-price">
                        $ @lstsb[2].amount Per User/Month
                        </div><!-- end pricing-price -->
                        <div class="pricing-description">
                            Package you need to efficiently manage an expanding social media network.
                        </div><!-- end pricing-description -->
                        <ul class="pricing-list">
                            <li>All Basic & Standard Plan Features</li>
                            <li>Social Discovery</li>
                            <li>Helpdesk Integration</li>
                            <li>Powerful Statistics Engine</li>
                            <li>Custom Viewable Analytics</li>
                            <li>World Class 24*7 Training &amp; Support</li>
                            <li>RSS Feeds</li>
                            <li>Manage up to 20 profiles</li>
                        </ul><!-- end pricing-list -->
                        <div class="pricing-cta" onclick="$('#planName').html('Premium');">
                            <a onclick="SingUpmodal('2')" class="waves-effect waves-light btn-large btn-pricing-popular">Try Now</a>
                        </div><!-- end pricing-cta -->
                    </div><!-- end pricing-box -->
                </div><!-- end col-md-4 -->
                <div class="col m4 hoverable">
                    <div class="pricing-box ">
                        <div class="pricing-heading">
                            Platinum
                        </div><!-- end pricing-heading -->
                        <div class="pricing-price">
                            $ @lstsb[7].amount Per User/Month
                        </div><!-- end pricing-price -->
                        <div class="pricing-description">
                            Includes sophisticated tools for complex objectives
                        </div><!-- end pricing-description -->
                        <ul class="pricing-list">
                            <li><strong>All Basic, Standard,Premium, Deluxe, Topaz, Ruby &amp; Gold Features</strong></li>
                            <li>Prompt Feeds</li>
                            <li>Constant Real-time Monitoring</li>
                            <li>Team Collaboration Tools</li>
                            <li>Social CRM</li>
                            <li>World Class 24*7 Training &amp; Support</li>
                            <li>Manage up to 1000 profiles</li>
                        </ul><!-- end pricing-list -->
                        <div class="pricing-cta" onclick="$('#planName').html('Platinum');">
                            <a onclick="SingUpmodal('7')" class="waves-effect waves-light btn-large btn-pricing">Try Now</a>
                        </div><!-- end pricing-cta -->
                    </div><!-- end pricing-box -->
                </div><!-- end col-md-4 -->
                <div class="col l12 m12 s12 center">
                    <a href="javascript:void(0);" class="btn grey darken-3" id="show_more_btn"><i class="icon-arrow-down animated fadeInDown infinite "></i> Show More <i class="icon-arrow-down animated fadeInDown infinite "></i> </a>
                </div>

            </div><!-- end row -->


            <div id="price_more">
                <div class="row">
                    <div class="col m3 offset-m1 hoverable">
                        <div class="pricing-box">
                            <div class="pricing-heading">
                                Standard
                            </div><!-- end pricing-heading -->
                            <div class="pricing-price">
                                $ @lstsb[1].amount Per User/Month
                            </div><!-- end pricing-price -->
                            <div class="pricing-description">
                                Comprises of great tools suitable for small teams.
                            </div><!-- end pricing-description -->
                            <ul class="pricing-list">
                                <li>Smart Inbox</li>
                                <li>Real Time Feeds from Social Media Platforms</li>
                                <li>Advanced Publishing Features</li>
                                <li>Sophisticated Tools for Social Media based CRM</li>
                                <li>In-Depth Reporting Tools</li>
                                <li>World Class 24*7 Training &amp; Support</li>
                                <li>Manage up to 10 profiles</li>
                            </ul><!-- end pricing-list -->
                            <div class="pricing-cta" onclick="$('#planName').html('Standard');">
                                <a onclick="SingUpmodal('1')" class="waves-effect waves-light btn-large  btn-pricing">Try Now</a>
                            </div><!-- end pricing-cta -->
                        </div><!-- end pricing-box -->
                    </div><!-- end col-md-3 -->
                    <div class="col m4 hoverable">
                        <div class="pricing-box ">
                            <div class="pricing-heading">
                                Deluxe
                            </div><!-- end pricing-heading -->
                            <div class="pricing-price">
                                $ @lstsb[3].amount Per User/Month
                            </div><!-- end pricing-price -->
                            <div class="pricing-description">
                                Includes sophisticated tools for complex objectives
                            </div><!-- end pricing-description -->
                            <ul class="pricing-list">
                                <li>All Basic, Standard &amp; Premium Features</li>
                                <li>Prompt Feeds</li>
                                <li>Constant Real-time Monitoring</li>
                                <li>Team Collaboration Tools</li>
                                <li>Social CRM</li>
                                <li>World Class 24*7 Training &amp; Support</li>
                                <li>Manage up to 50 profiles</li>
                            </ul><!-- end pricing-list -->
                            <div class="pricing-cta" onclick="$('#planName').html('Deluxe');">
                                <a onclick="SingUpmodal('3')" class="waves-effect waves-light btn-large btn-pricing">Try Now</a>
                            </div><!-- end pricing-cta -->
                        </div><!-- end pricing-box -->
                    </div><!-- end col-md-3 -->
                    <div class="col m3 hoverable">
                        <div class="pricing-box ">
                            <div class="pricing-heading">
                                Topaz
                            </div><!-- end pricing-heading -->
                            <div class="pricing-price">
                                $ @lstsb[4].amount Per User/Month
                            </div><!-- end pricing-price -->
                            <div class="pricing-description">
                                Includes sophisticated tools for complex objectives
                            </div><!-- end pricing-description -->
                            <ul class="pricing-list">
                                <li><strong>All Basic, Standard,Premium, &amp; Deluxe Features</strong></li>
                                <li>Prompt Feeds</li>
                                <li>Constant Real-time Monitoring</li>
                                <li>Team Collaboration Tools</li>
                                <li>Social CRM</li>
                                <li>World Class 24*7 Training &amp; Support</li>
                                <li>Manage up to 100 profiles</li>
                            </ul><!-- end pricing-list -->
                            <div class="pricing-cta" onclick="$('#planName').html('Topaz');">
                                <a onclick="SingUpmodal('4')" class="waves-effect waves-light btn-large btn-pricing">TRY Now</a>
                            </div><!-- end pricing-cta -->
                        </div><!-- end pricing-box -->
                    </div><!-- end col-md-3 -->
                </div>
                <div class="row">
                    <div class="col m4 offset-m2 hoverable">
                        <div class="pricing-box ">
                            <div class="pricing-heading">
                                Ruby
                            </div><!-- end pricing-heading -->
                            <div class="pricing-price">
                                $ @lstsb[5].amount Per User/Month
                            </div><!-- end pricing-price -->
                            <div class="pricing-description">
                                Includes sophisticated tools for complex objectives
                            </div><!-- end pricing-description -->
                            <ul class="pricing-list">
                                <li><strong>All Basic, Standard,Premium, Deluxe &amp; Topaz Features</strong></li>
                                <li>Prompt Feeds</li>
                                <li>Constant Real-time Monitoring</li>
                                <li>Team Collaboration Tools</li>
                                <li>Social CRM</li>
                                <li>World Class 24*7 Training &amp; Support</li>
                                <li>Manage up to 200 profiles</li>
                            </ul><!-- end pricing-list -->
                            <div class="pricing-cta" onclick="$('#planName').html('Ruby');">
                                <a onclick="SingUpmodal('5')" class="waves-effect waves-light btn-large btn-pricing">Try Now</a>
                            </div><!-- end pricing-cta -->
                        </div><!-- end pricing-box -->
                    </div><!-- end col-md-3 -->
                    <div class="col m4 hoverable">
                        <div class="pricing-box popular">
                            <div class="pricing-heading">
                                Gold
                            </div><!-- end pricing-heading -->
                            <div class="pricing-price">
                                $ @lstsb[6].amount Per User/Month
                            </div><!-- end pricing-price -->
                            <div class="pricing-description">
                                Includes sophisticated tools for complex objectives
                            </div><!-- end pricing-description -->
                            <ul class="pricing-list">
                                <li><strong>All Basic, Standard,Premium, Deluxe, Topaz &amp; Ruby Features</strong></li>
                                <li>Prompt Feeds</li>
                                <li>Constant Real-time Monitoring</li>
                                <li>Team Collaboration Tools</li>
                                <li>Social CRM</li>
                                <li>World Class 24*7 Training &amp; Support</li>
                                <li>Manage up to 500 profiles</li>
                            </ul><!-- end pricing-list -->
                            <div class="pricing-cta" onclick="$('#planName').html('Gold');">
                                <a onclick="SingUpmodal('6')" class="waves-effect waves-light btn-large btn-pricing-popular">Try Now</a>
                            </div><!-- end pricing-cta -->
                        </div><!-- end pricing-box -->
                    </div><!-- end col-md-3 -->

                </div><!-- end row -->
            </div>
        </div><!-- end container -->
</div>
    </section>
<!-- SignUp Modal -->
<div id="SignUpModal" class="modal modal-fixed-footer" style="width: 600px;">
    <form onsubmit="myFunction(); return false;" id="RegistrationForm">
        <div class="modal-content">
            <h4 class="center">Create a <span id="planName">Free</span> account</h4>
            <div class="row">
                <div class="row">
                    <div class="input-field col s12 m12">
                        <div class="center">
                            <a id="fb_account" href="#" onclick="googleLogin();">
                                <img src="~/contents/socioboard/images/gplus_signin_button.png" class="responsive-img" alt="" data-pin-nopin="true">
                            </a><br>
                            <a id="fb_account" href="#" onclick="facebookLogin();">
                                <img src="~/contents/socioboard/images/fb_signin_button.png" class="responsive-img" alt="" data-pin-nopin="true">
                            </a>
                        </div>
                    </div>
                </div>
                <hr class="styleOR">

                <div class="row">
                    <div class="input-field col s12 m12">
                        <select id="AccountType" name="AccountType">
                            <optgroup label="Basic Plans">
                                <option value="0">Basic(Free)</option>
                                <option value="1">Standard</option>
                                <option value="2">Premium</option>
                                <option value="3">Deluxe</option>
                            </optgroup>
                            <optgroup label="Extra Plans">
                                <option value="4">Topaz</option>
                                <option value="5">Ruby</option>
                                <option value="6">Gold</option>
                                <option value="7">Platinum</option>
                            </optgroup>
                        </select>
                        <label>Choose your option</label>
                    </div>
                    <div class="input-field col s12 m12">
                        <select id="PaymentType" name="PaymentType">
                            <optgroup label="PaymentType">
                                <option value="0">paypal</option>
                                <option value="1">payumoney</option>
                            </optgroup>
                        </select>
                        <label>Choose your option</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="FirstName" name="FirstName" type="text" required class="validate" pattern="^[a-zA-Z0-9]+$">
                        <label for="FirstName">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="LastName" name="LastName" type="text" required class="validate" pattern="^[a-zA-Z0-9]+$">
                        <label for="LastName">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="EmailId" name="EmailId" type="email" required class="validate" pattern="^([a-zA-Z0-9_\-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$">
                        <label for="EmailId" data-error="wrong" data-success="right">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="PhoneNumber" name="PhoneNumber" type="tel" class="validate" maxlength="10" pattern="[0-9]{10}">
                        <label for="PhoneNumber" data-error="PhoneNumber" data-success="right">Mobile</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="Password" name="Password" type="password" title="One Capital letter,One Small letter,One number,One special character and min lenght must be 8" data-rule-minlength="8" required class="validate" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[$&+,:;=?@@#|'<>.^*()%!-_]).{8,}">
                        <label for="Password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="CnfPassword" name="CnfPassword" type="password" data-rule-minlength="8" required class="validate">
                        <label for="CnfPassword">Confirm Password</label>

                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">

            <div id="ImgLoading" class="btn btn-flat btn-primary ink-reaction hide"> <img class='img-portfolio img-responsive right' src='~/contents/socioboard/images/loading-spinner-grey.gif'></div>
            <button id="submitButton" type="submit" class="btn btn-flat btn-primary ink-reaction"> Register</button>

            <div></div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(window).load(function () {
            $("#price_more").hide();

            $("#show_more_btn").click(function(){
                $("#price_more").show();
            });
        });
</script>
@*<script type="text/javascript">
        function toggle_visibility(price_more) {
            var e = document.getElementById(price_more);
           if(e.style.display == 'block')
              e.style.display = 'none';
           else
              e.style.display = 'block';
       }
    </script>*@
<script>
        function myFunction() {
            debugger;
            $('#ImgLoading').show();
            $('#submitButton').hide();

            var firstName = $('#FirstName').val();
            var lastName = $('#LastName').val();
            var email = $('#EmailId').val();
            // var company = $('#req_Company').val();
            var Phone = $('#PhoneNumber').val();
            var password = $('#Password').val();
            var cnfPassword = $('#CnfPassword').val();
            var accountType = $('#AccountType').val();
            var PaymentType = $('#PaymentType').val();
            if (password != cnfPassword) {
                alert('password not match');
                $('#ImgLoading').hide();
                $('#submitButton').show();
                return false;
            }

            $.ajax({

                type: "POST",

                url: "@ViewBag.ApiDomain/api/user/Register",

                data: { "FirstName": firstName, "LastName": lastName, "EmailId": email, "PhoneNumber": Phone, "password": password, "AccountType": accountType, "PaymentType": PaymentType },

                //contentType: "application/json; charset=utf-8",

                dataType: "html",

                success: function (msg) {
                    console.log(msg);
                    alertify.set({ delay: 5000 });
                    alertify.success("Email verification mail sent successfully.");
                    $('#FirstName').val("");
                    $('#LastName').val("");
                    $('#EmailId').val("");
                    $('#PhoneNumber').val("");
                    $('#Password').val("");
                    $('#CnfPassword').val("")
                    $('#ImgLoading').hide();
                    $('#submitButton').show();
                    // $('#req_skype').val("");
                    if (accountType != "0") {
                        $.ajax({

                            type: "GET",

                            url: "@ViewBag.Domain/Home/PayPalAccount",

                            data: { "emailId": email, "IsLogin": false },

                            dataType: "html",
                            success: function (msg) {
                                alertify.set({ delay: 5000 });
                                alertify.error("please submit Payment detail.");
                                window.top.location = msg;
                            },
                            error: function (msg) {

                                return false;
                            }
                        });
                    }
                },
                error: function (msg) {
                    alertify.set({ delay: 5000 });
                    alertify.error(msg.responseText);
                    $('#ImgLoading').hide();
                    $('#submitButton').show();
                    return false;
                }

            });
            $('#ImgLoading').hide();
            $('#submitButton').show();
            return false;
        }


        function SingUpmodal(ele)
        {
            $('#SignUpModal').openModal();


            $('#AccountType').val(ele);
            $('select').material_select();
        }


</script>