@using Microsoft.Extensions.Options;
@inject IOptions<Socioboard.Helpers.AppSettings> appSettings
@{

    Layout = null;
    string path = @appSettings.Value.Domain;
    Domain.Socioboard.Helpers.PluginData objplugin = (Domain.Socioboard.Helpers.PluginData)ViewBag.plugin;
    string content = "";
    string domainName = @appSettings.Value.Domain;
    int tweetUrlLength = 0;
    string emailId = @ViewBag.emailId;
    string password = @ViewBag.password;
    string userId = @ViewBag.userId;
}

<html>
<head>
    <title>Modal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
    <link href="~/contents/socioboard/pluginassets/css/custom.css" rel="stylesheet" />
    <link href="~/contents/socioboard/pluginassets/css/datetimepicker.css" rel="stylesheet" />
    <style>
        .padding-20 {
            padding: 20px;
        }

        .fb_icn {
            background-color: #3b5998;
            border: 1px solid #fff;
            border-radius: 14px;
            color: #fff;
            margin: 34px 0 0 -18px;
            padding: 3px 6px;
            position: absolute;
        }

        .twt_icn {
            background-color: #3298BD;
            border: 1px solid #fff;
            border-radius: 14px;
            color: #fff;
            margin: 34px 0 0 -18px;
            padding: 3px 6px;
            position: absolute;
        }

        .mrgn-right {
            margin-right: 8px;
        }

        .tooltip {
            z-index: 99999;
        }
    </style>

</head>

<body style="background-color:transparent">
    <div id="myModal" data-easein="flipBounceYIn" aria-labelledby="gridSystemModalLabel" role="dialog" tabindex="-1" class="in" style="display: block;  padding-left: 17px;">


        <div class='col-md-2 cancel-btn pull-right z-i btn-t-r m-t-b'>
            <a><i class="fa fa-comments"> </i> Help</a><span class='s-c'> | </span>
            <a href="@domainName" target="_blank"><i class="fa fa-chevron-circle-right"> </i> Go to Socioboard</a>
        </div>

        <div class="modal-dialog" role="document">
            <div class="modal-content p-r m-t">
                <div class='close-btn p-a close-btn-dismiss'>
                    <i class="fa fa-times"></i>
                </div>
                <div class="modal-body padding-20 padd-btm-4">

                    <div class="tabbable">
                        <!-- Only required for left/right tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab" class='f-s-10'>Simple Composer</a></li>
                            @*<li><a href="#tab2" data-toggle="tab" class='f-s-10'>Power Scheduler</a></li>*@
                        </ul>

                        <div class="tab-content">

                            <div class="tab-pane active" id="tab1">
                                <div class='row' id="123">
                                    <div class="col-md-12" style="overflow-y:auto;max-height:500px">
                                        <div class='row cus001  padding-20'>
                                            <!-- Profiles -->
                                            @foreach (var item in (List<Domain.Socioboard.Helpers.PluginProfile>)Model)
                                            {
                                                if (item.type == "twitter")
                                                {
                                                    Domain.Socioboard.Models.TwitterAccount objTwitterAccount = (Domain.Socioboard.Models.TwitterAccount)item.twitterprofile;

                                                    <div data-placement="bottom" class='profile-pic selected twitter pull-left mrgn-right' title='@objTwitterAccount.twitterScreenName' id="@objTwitterAccount.twitterUserId~twitter">
                                                        <img src='@objTwitterAccount.profileImageUrl' class='image-responsive img-res' alt='profile image' width="50" height="50" />
                                                        <i class="soc-icon fa fa-twitter"></i>
                                                    </div>

                                                }
                                                else if (item.type == "facebook")
                                                {
                                                    Domain.Socioboard.Models.Facebookaccounts objFacebookAccount = (Domain.Socioboard.Models.Facebookaccounts)item.facebookprofile;
                                                    if (!string.IsNullOrEmpty(objFacebookAccount.AccessToken))
                                                    {
                                                        if (objFacebookAccount.FbProfileType == Domain.Socioboard.Enum.FbProfileType.FacebookProfile)
                                                        {
                                                            <div data-placement="bottom" class='profile-pic selected facebook pull-left mrgn-right' title='@objFacebookAccount.FbUserName' id="@objFacebookAccount.FbUserId~facebook">
                                                                <img src='https://graph.facebook.com/@objFacebookAccount.FbUserId/picture?type=small' class='image-responsive img-res' alt='profile image' width="50" height="50">
                                                                <i class="soc-icon fa fa-facebook"></i>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div data-placement="bottom" class='profile-pic selected facebook pull-left mrgn-right' title='@objFacebookAccount.FbUserName' id="@objFacebookAccount.FbUserId~facebook">
                                                                <img src='https://graph.facebook.com/@objFacebookAccount.FbUserId/picture?type=small' class='image-responsive img-res' alt='profile image' width="50" height="50">
                                                                <i class="soc-icon fa fa-facebook"></i>
                                                            </div>
                                                        }
                                                    }

                                                }

                                            }

                                            <div style="position: relative; display: inline; left: 1px;">
                                                <a href="@domainName/home" target="_blank">
                                                    <i class="fa fa-plus-circle" style="font-size: 50px; text-align: center;"></i>
                                                </a>
                                            </div>

                                        </div><!-- /Profiles -->





                                        <div class='row  padding-10'>
                                            @if (objplugin.profileType == "facebook" || objplugin.profileType == "pinterest" || objplugin.profileType == "image" || objplugin.profileType == "website" || objplugin.type == "website")
                                            {
                                                if (((List<Domain.Socioboard.Helpers.PluginProfile>)Model).Any(t => t.type == "twitter"))
                                                {

                                                    int count = 280;
                                                    if (!string.IsNullOrEmpty(objplugin.content))
                                                    {
                                                        content = objplugin.content;
                                                    }
                                                    else
                                                    {
                                                        content = "";
                                                    }
                                                    if (!string.IsNullOrEmpty(objplugin.url))
                                                    {
                                                        content += " ";
                                                        content += Socioboard.Helper.PluginHelper.GetShortenUrl(objplugin.url);

                                                    }
                                                    content = content.Trim();
                                                    count = count - content.Length;

                                                    <div class='form-group twitter-text-show'>
                                                        <div class='message-to-pages'>
                                                            <span class='control-label small'>
                                                                <i class="img-textarea fa fa-twitter " style='color: #28a9e0;'></i>
                                                                Message for Twitter
                                                            </span>
                                                            @if (count > 0)
                                                            {
                                                                <span class="pull-right text-success" id="twt-text-count">
                                                                    @count
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span class="small pull-right text-danger" id="twt-text-count">
                                                                    @count
                                                                </span>
                                                            }
                                                        </div>

                                                        <div>
                                                            @if (objplugin._ThumbnailDetails != null)
                                                            {
                                                                @if (!content.Replace("nnnamp;", "&amp;").Contains(objplugin._ThumbnailDetails.title))
                                                                {
                                                                    <textarea placeholder='What would you like to share?' class='txt-area form-control' id='txt-twt-message' onkeyup="countChar()">@objplugin._ThumbnailDetails.title @content</textarea>
                                                                }
                                                                else
                                                                {
                                                                    <textarea placeholder='What would you like to share?' class='txt-area form-control' id='txt-twt-message' onkeyup="countChar()">@content</textarea>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <textarea placeholder='What would you like to share?' class='txt-area form-control' id='txt-twt-message' onkeyup="countChar()">@content</textarea>

                                                            }

                                                        </div>
                                                    </div>
                                                    <hr>
                                                }
                                                if (((List<Domain.Socioboard.Helpers.PluginProfile>)Model).Any(t => t.type == "facebook" || t.type == "facebook_page"))
                                                {
                                                    <div class='form-group facebook-text-show'>
                                                        <div class='message-to-pages'>
                                                            <span class='control-label small'>
                                                                <i class="img-textarea fa fa-facebook" style='color: #3b5998;'></i> Message for Facebook
                                                            </span>

                                                        </div>

                                                        <div>
                                                            @{
                                                                if (!string.IsNullOrEmpty(objplugin.content))
                                                                {
                                                                    content = objplugin.content;
                                                                }
                                                                content = content.Trim();
                                                            }
                                                            @if (objplugin._ThumbnailDetails != null)
                                                            {
                                                                @if (!content.Replace("nnnamp;", "&amp;").Contains(objplugin._ThumbnailDetails.title))
                                                                {
                                                                    <textarea placeholder='What would you like to share?' class='txt-area form-control' id='txt-fb-message'>@objplugin._ThumbnailDetails.title @content</textarea>
                                                                }
                                                                else
                                                                {
                                                                    <textarea placeholder='What would you like to share?' class='txt-area form-control' id='txt-fb-message'>@content</textarea>

                                                                }
                                                            }
                                                            else
                                                            {

                                                                <textarea placeholder='What would you like to share?' class='txt-area form-control' id='txt-fb-message'> @content</textarea>
                                                            }
                                                        </div>
                                                    </div>
                                                    <hr>
                                                                    }
                                                                }
                                                                else if (objplugin.profileType == "twitter")
                                                                {
                                                                    if (((List<Domain.Socioboard.Helpers.PluginProfile>)Model).Any(t => t.type == "twitter"))
                                                                    {
                                                                        tweetUrlLength = 25;
                                                                        <div class='form-group twitter-text-show'>
                                                                            <div class='message-to-pages'>
                                                                                <span class='control-label small'>
                                                                                    <i class="img-textarea fa fa-twitter" style='color: #28a9e0;'></i>
                                                                                    Message for Twitter
                                                                                </span>
                                                                                <span class="pull-right" id="twt-text-count">
                                                                                    @(280 - tweetUrlLength)
                                                                                </span>
                                                                            </div>

                                                                            <div>
                                                                                <textarea placeholder='What would you like to share?' class='txt-area form-control' id='txt-twt-message' onkeyup="countChar()"></textarea>
                                                                            </div>
                                                                        </div>

                                                                        <hr>

                                                <!-- retweet start -->
                                                                        <div class="retweet twitter-text-show">
                                                                            <!--re tweet-->
                                                                            <div class="media">
                                                                                <a class="pull-left" href="#">
                                                                                    <img class="media-object tweet-img" src="@objplugin.userImage" alt="Media Object">
                                                                                </a>

                                                                                <div class="media-body">
                                                                                    <h4 class="media-heading">
                                                                                        <span class="user-name">@objplugin.name</span>
                                                                                        @{
                                                                                            string sn = "@" + objplugin.screenName;
                                                                                        }
                                                                                        <span class="page-tweet">@sn</span>
                                                                                        <span class=""></span>
                                                                                    </h4>
                                                                                    @objplugin.tweet

                                                                                    <div class="retweet-ctrl">
                                                                                        <i class="fa fa-retweet retweet-fa"></i>
                                                                                        <span class='retweet-link'>
                                                                                            <a href="javascript:void(0)" style="cursor: default;">Retweeted by You</a>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>

                                                                        <hr>

                                                                                            }
                                                                                            if (((List<Domain.Socioboard.Helpers.PluginProfile>)Model).Any(t => t.type == "facebook" || t.type == "facebook_page"))
                                                                                            {
                                                                                                <div class='form-group facebook-text-show'>
                                                                                                    <div class='message-to-pages'>
                                                                                                        <span class='control-label small'>
                                                                                                            <i class="img-textarea fa fa-facebook " style='color: #3b5998;'></i> Message for Facebook
                                                                                                        </span>
                                                                                                    </div>
                                                                                                    @{
                                                                                                        if (!string.IsNullOrEmpty(objplugin.content))
                                                                                                        {
                                                                                                            content = objplugin.content;
                                                                                                        }
                                                                                                        if (!string.IsNullOrEmpty(objplugin.url))
                                                                                                        {
                                                                                                            content += " ";
                                                                                                            content += Socioboard.Helper.PluginHelper.GetShortenUrl(objplugin.url);

                                                                                                        }
                                                                                                        content = content.Trim();
                                                                                                    }
                                                                                                    <div>

                                                                                                        @if (objplugin._ThumbnailDetails != null)
                                                                                                        {
                                                                                                            @if (!content.Replace("nnnamp;", "&amp;").Contains(objplugin._ThumbnailDetails.title))
                                                                                                            {
                                                                                                                <textarea placeholder='What would you like to share?' class='txt-area form-control' id='txt-fb-message'>@objplugin._ThumbnailDetails.title @content</textarea>
                                                                                                            }
                                                                                                            else
                                                                                                            {

                                                                                                                <textarea placeholder='What would you like to share?' class='txt-area form-control' id='txt-fb-message'>@content</textarea>
                                                                                                            }

                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            <textarea placeholder='What would you like to share?' class='txt-area form-control' id='txt-fb-message'>@content</textarea>

                                                                                                        }
                                                                                                    </div>
                                                                                                </div>
                                                                                                <hr>
                                                                                                            }
                                                                                                        }
                                        </div><!-- /Messages -->
                                        @if (((List<Domain.Socioboard.Helpers.PluginProfile>)Model).Any(t => t.type == "facebook"))
                                        {
                                            if (!string.IsNullOrEmpty(objplugin.url))
                                            {
                                                if (objplugin.url.Contains("videos"))
                                                {
                                                    objplugin.profileType = "website";
                                                    objplugin.imageUrl = string.Empty;

                                                }
                                            }
                                            if (!string.IsNullOrEmpty(objplugin.url) && objplugin.profileType != "pinterest" && objplugin.profileType != "image")
                                            {
                                                if (objplugin._ThumbnailDetails != null)
                                                {
                                                    <div class='row m-b facebook-text-show' id="thumb-creator">
                                                        <div class='contain-box p-r'>
                                                            <span class='fa fa-times img-close-btn pull-right' id="thumb-close"></span>
                                                            <div class='col-sm-4 img-uploader p-r'>

                                                                @if (!string.IsNullOrEmpty(objplugin._ThumbnailDetails.image))
                                                                {
                                                                    <div class='info-holder'>

                                                                        @if (!objplugin._ThumbnailDetails.image.Contains("http"))
                                                                        {
                                                                            Uri _uri = new Uri(objplugin._ThumbnailDetails.url);
                                                                            string _host = _uri.Host;
                                                                            objplugin._ThumbnailDetails.image = "http://" + _host + "/" + objplugin._ThumbnailDetails.image;
                                                                        }

                                                                        @*<img src="@objplugin._ThumbnailDetails.image" class='media-object img-100' alt='image'>*@
                                                                        <div id="myCarousel" class="carousel slide">

                                                                            <div class="carousel-inner">
                                                                                <div class="item image active">
                                                                                    <div class="fill"><img src="@objplugin._ThumbnailDetails.image.Replace("&amp;","&")" class='media-object img-100' alt='image'></div>
                                                                                    <div class="carousel-caption">
                                                                                    </div>
                                                                                </div>
                                                                                @if (objplugin._ThumbnailDetails.imageurls.Count > 0)
                                                                                {
                                                                                    @foreach (var item in objplugin._ThumbnailDetails.imageurls)
                                                                                    {
                                                                                        <div class="item image">

                                                                                            <div class="fill"><img src="@item.Replace("&amp;","&")" class="media-object img-100"></div>
                                                                                            <div class="carousel-caption">

                                                                                            </div>
                                                                                        </div>
                                                                                    }

                                                                                }



                                                                            </div>

                                                                            <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="background: transparent !important;">
                                                                                <span class="icon-prev" style="color: #333;"></span>
                                                                            </a>
                                                                            <a class="right carousel-control" href="#myCarousel" data-slide="next" style="background: transparent !important;">
                                                                                <span class="icon-next" style="color: #333;"></span>
                                                                            </a>

                                                                        </div>
                                                                    </div>
                                                                }

                                                                else if (objplugin._ThumbnailDetails.imageurls.Count > 0)
                                                                {
                                                                    <div class='info-holder'>

                                                                        @*<img src="@objplugin._ThumbnailDetails.image" class='media-object img-100' alt='image'>*@
                                                                        <div id="myCarousel" class="carousel slide">

                                                                            <div class="carousel-inner">
                                                                                <div class="item active">
                                                                                    <div class="fill"><img src="@objplugin._ThumbnailDetails.imageurls.First().Replace("&amp;","&")" class='media-object img-100' alt='image'></div>
                                                                                    <div class="carousel-caption">
                                                                                    </div>
                                                                                </div>
                                                                                @if (objplugin._ThumbnailDetails.imageurls.Count > 0)
                                                                                {
                                                                                    @foreach (var item in objplugin._ThumbnailDetails.imageurls)
                                                                                    {
                                                                                        <div class="item">

                                                                                            <div class="fill"><img src="@item.Replace("&amp;","&")" class="media-object img-100"></div>
                                                                                            <div class="carousel-caption">

                                                                                            </div>
                                                                                        </div>
                                                                                    }

                                                                                }



                                                                            </div>

                                                                            <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="background: transparent !important;">
                                                                                <span class="icon-prev" style="color: #333;"></span>
                                                                            </a>
                                                                            <a class="right carousel-control" href="#myCarousel" data-slide="next" style="background: transparent !important;">
                                                                                <span class="icon-next" style="color: #333;"></span>
                                                                            </a>

                                                                        </div>
                                                                    </div>

                                                                }
                                                                else
                                                                {
                                                                    <div class='info-holder'>

                                                                        <img src="../Contents/socioboard/pluginassets/images/video-thumbnail.png" class='media-object img-100' alt='image'>

                                                                    </div>
                                                                }

                                                            </div>

                                                            <div class='col-sm-8'>

                                                                @if (!string.IsNullOrEmpty(objplugin._ThumbnailDetails.title))
                                                                {
                                                                    <h4 class='mar-top' id="UrlTitle">
                                                                        @objplugin._ThumbnailDetails.title
                                                                    </h4>
                                                                }
                                                                else
                                                                {
                                                                    <h4>
                                                                        Attached a link
                                                                    </h4>
                                                                }


                                                                <div class="url">
                                                                    <a  href='@objplugin._ThumbnailDetails.url' target="_blank">

                                                                        @if (!string.IsNullOrEmpty(objplugin._ThumbnailDetails.url))
                                                                        {
                                                                            @objplugin._ThumbnailDetails.url

                                                                        }

                                                                    </a>
                                                                </div>

                                                                @if (!string.IsNullOrEmpty(objplugin._ThumbnailDetails.description))
                                                                {
                                                                    <span class='desc'>
                                                                        @Socioboard.Helpers.Encode.Decode(objplugin._ThumbnailDetails.description)
                                                                    </span>
                                                                }

                                                            </div>

                                                        </div>

                                                        <hr>
                                                    </div>
                                                }

                                            }
                                        }
                                        @if (!string.IsNullOrEmpty(objplugin.imageUrl))
                                        {
                                            <div class='row m-b fileinput-new'>
                                                <!-- Image upload -->
                                                <div class='contain-box p-r'>
                                                    <span class='fa fa-times img-close-btn t-i-m' id='img-close'></span>
                                                    <div class='col-sm-3 img-uploader p-r'>
                                                        <div class='info-holder-thumb'>
                                                            @if (objplugin.imageUrl.Contains("http"))
                                                            {
                                                                <img src="@objplugin.imageUrl.Replace("&amp;","&")" id="img-upload-thumb">
                                                            }
                                                            else
                                                            {
                                                                <img src="@objplugin._ThumbnailDetails.image.Replace("&amp;","&")" id="img-upload-thumb">
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- /Image upload -->
                                        }
                                        else
                                        {
                                            <div class='row m-b fileinput-new' style="display:none">
                                                <!-- Image upload -->
                                                <div class='contain-box p-r'>
                                                    <span class='fa fa-times img-close-btn t-i-m' id='img-close'></span>
                                                    <div class='col-sm-3 img-uploader p-r'>
                                                        <div class='info-holder-thumb'>
                                                            <img src="" id="img-upload-thumb" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- /Image upload -->
                                        }

                                        <hr>




                                        <div class='row padding-10 p-r'>
                                            <div class="overlay-share">
                                                @*<img width="40" src="https://www.socioboard.com/Themes/Socioboard/Contents/img/icon_loading-Recovered.gif" id="img-load-send">*@
                                                <span id="success-sending-data">Sending from Socioboard..</span>
                                            </div>
                                            <div class="overlay-added">
                                                <span id="success-sending-data">it seems you already posted this message to few profiles</span>
                                            </div>
                                            <!--replace link options -->
                                            @if (Model.Count > 0)
                                            {
                                                <div class='mob-style'>
                                                    <div class='col-sm-4 m-t-l'>

                                                        <a href="javascript:;" class='r-l-p cg' id='upload-link'>
                                                            <small><i class="fa fa-file-image-o cb"> </i> Replace link with photo</small>
                                                        </a>
                                                        <input id="upload" type="file" onchange="AddImageScheduleMessage()" />
                                                    </div>
                                                    <div class='col-sm-4'>
                                                        <div class='input-group date' id='datetimepicker1'>

                                                            <span class="input-group-addon" style='display: none;'>
                                                            </span>
                                                            <input type='text' class="form-control dt-tb t-dt" id="sd-date-time" />
                                                        </div>
                                                    </div>
                                                    <!--/test-->

                                                    <div class='col-sm-4 m-cal-btn'>
                                                        <div class="btn-group pull-right">
                                                            <button type="button" class="btn btn-primary bleft btn-share-send" onclick="sharenow()">Share Now</button>
                                                            <div class="btn-group">
                                                                <button type="button" class="btn btn-primary dropdown-toggle bright" data-toggle="dropdown">
                                                                    &nbsp; <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu ul-dup ul-ddn" style="margin-top:-105px" role="menu">
                                                                    <li><a href="#" id="sb-share-now">Share Now</a></li>
                                                                    <li><a href="#" class='t-dt' id="sb-schedule-post">Schedule Post</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            }
                                            else
                                            {
                                                <div class='mob-style'>
                                                    <div class='col-sm-4 m-t-l'>

                                                        <a href="javascript:;" class='r-l-p cg' id='upload-link'>
                                                            <small><i class="fa fa-file-image-o cb"> </i> Replace link with photo</small>
                                                        </a>
                                                        <input id="upload" type="file" disabled />
                                                    </div>
                                                    <div class='col-sm-4'>
                                                        <div class='input-group date' id='datetimepicker1'>

                                                            <span class="input-group-addon" style='display: none;'>
                                                            </span>
                                                            <input type='text' class="form-control dt-tb t-dt" id="sd-date-time" />
                                                        </div>
                                                    </div>
                                                    <!--/test-->

                                                    <div class='col-sm-4 m-cal-btn'>
                                                        <div class="btn-group pull-right">
                                                            <button type="button" disabled class="btn btn-primary bleft btn-share-send" onclick="sharenow()">Share Now</button>
                                                            <div class="btn-group">
                                                                <button type="button" disabled class="btn btn-primary dropdown-toggle bright" data-toggle="dropdown">
                                                                    &nbsp; <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu ul-dup ul-ddn" role="menu">
                                                                    <li><a href="#" id="sb-share-now">Share Now</a></li>
                                                                    <li><a href="#" class='t-dt' id="sb-schedule-post">Schedule Post</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="mob-style">
                                                    <div class="col-md-12" style="padding: 31px 0 4px 0;text-align: center;">
                                                        <span class='r-l-p cg' id='upload-link' style="font-size: 16px;">
                                                            You Have No SocialProfile link with this account
                                                        </span>
                                                    </div>
                                                </div>

                                            }
                                            <div class="mob-style zeroprofile" style="display:none">
                                                <div class="col-md-12" style="padding: 31px 0 4px 0;text-align: center;">
                                                    <span class='r-l-p cg' id='upload-link' style="font-size: 16px;">
                                                        You Have Not Selected any socialprofile
                                                    </span>
                                                </div>
                                            </div>

                                        </div>
                                        <!--/replace link options -->

                                    </div>
                                </div>
                            </div>


                            <div class="tab-pane" id="tab2">
                                <!-- tab2-->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row padding-10 m-t-20">
                                            <!-- topic -->
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img class="media-object img-50" src="4.png" alt="social-image">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading">Media heading</h4>
                                                    <small class='cg'>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                        tempor incididunt ut labore et dolore magna aliqua.
                                                    </small>
                                                </div>
                                            </div>
                                        </div><!-- /topic -->

                                        <div class='row padding-10 m-t-20'>
                                            <p class='txt-center'>Choose when you would like to share this link:</p>
                                        </div>

                                    </div>
                                </div>
                            </div><!-- /tab2-->

                        </div>
                    </div>



                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.ui.min.js"></script>
    <script src="~/contents/socioboard/pluginassets/js/moment-locales.js"></script>
    <script src="~/contents/socioboard/pluginassets/js/datetimepicker.js"></script>

    <script type="text/javascript">

        var CSPWhitelist = [
          'twitter.com',
          'github.com',
          'gist.github.com',
          'education.github.com',
          'medium.com',
          'www.npmjs.org',
          'www.npmjs.com',
          'www.flickr.com',
          'localhost:9821'
        ];



        $(document).ready(function () {
          
            if ('@emailId' != "") {
                setCookie("socioboardpluginemailId", '@emailId', "90");
                if ('@password' != "") {
                    setCookie("socioboardpluginToken", '@password', "90");
                } else {
                    setCookie("socioboardpluginToken", 'sociallogin', "90");
                }
            }

            var objappVersion = navigator.appVersion; var objAgent = navigator.userAgent; var objbrowserName = navigator.appName; var objfullVersion = '' + parseFloat(navigator.appVersion); var objBrMajorVersion = parseInt(navigator.appVersion, 10); var objOffsetName, objOffsetVersion, ix;
            if ((objOffsetVersion = objAgent.indexOf("Chrome")) != -1) {
                objbrowserName = "Chrome"; objfullVersion = objAgent.substring(objOffsetVersion + 7);
            }
            else if ((objOffsetVersion = objAgent.indexOf("MSIE")) != -1) {
                objbrowserName = "Microsoft Internet Explorer"; objfullVersion = objAgent.substring(objOffsetVersion + 5);
            }
            else if ((objOffsetVersion = objAgent.indexOf("Firefox")) != -1) {
                objbrowserName = "Firefox";
            }
            else if ((objOffsetVersion = objAgent.indexOf("Safari")) != -1) {
                objbrowserName = "Safari"; objfullVersion = objAgent.substring(objOffsetVersion + 7); if ((objOffsetVersion = objAgent.indexOf("Version")) != -1) objfullVersion = objAgent.substring(objOffsetVersion + 8);
            }
            else if ((objOffsetName = objAgent.lastIndexOf(' ') + 1) < (objOffsetVersion = objAgent.lastIndexOf('/'))) {
                objbrowserName = objAgent.substring(objOffsetName, objOffsetVersion); objfullVersion = objAgent.substring(objOffsetVersion + 1); if (objbrowserName.toLowerCase() == objbrowserName.toUpperCase()) { objbrowserName = navigator.appName; }
            }
            if ((ix = objfullVersion.indexOf(";")) != -1) objfullVersion = objfullVersion.substring(0, ix); if ((ix = objfullVersion.indexOf(" ")) != -1) objfullVersion = objfullVersion.substring(0, ix); objBrMajorVersion = parseInt('' + objfullVersion, 10); if (isNaN(objBrMajorVersion)) { objfullVersion = '' + parseFloat(navigator.appVersion); objBrMajorVersion = parseInt(navigator.appVersion, 10); }

            $.getJSON('//ipapi.co/json/', function (data) {
                var Ip = data.ip;
                $.ajax({
                    url: '@appSettings.Value.Domain/Home/SaveSessiondata?ip=' + Ip + '&userId=' + userId + '&browserName=' + objbrowserName + '&userAgent=' + navigator.userAgent,
                    type: "Post",
                    success: function (data) {
                        setCookie("sociorevtoken", data, "90");
                    },
                    error: function (msg) {
                    }


                });
            });

        });



        function setCookie(cname, cvalue, exdays) {
            var Base64 = { _keyStr: "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=", encode: function (e) { var t = ""; var n, r, i, s, o, u, a; var f = 0; e = Base64._utf8_encode(e); while (f < e.length) { n = e.charCodeAt(f++); r = e.charCodeAt(f++); i = e.charCodeAt(f++); s = n >> 2; o = (n & 3) << 4 | r >> 4; u = (r & 15) << 2 | i >> 6; a = i & 63; if (isNaN(r)) { u = a = 64 } else if (isNaN(i)) { a = 64 } t = t + this._keyStr.charAt(s) + this._keyStr.charAt(o) + this._keyStr.charAt(u) + this._keyStr.charAt(a) } return t }, decode: function (e) { var t = ""; var n, r, i; var s, o, u, a; var f = 0; e = e.replace(/[^A-Za-z0-9+/=]/g, ""); while (f < e.length) { s = this._keyStr.indexOf(e.charAt(f++)); o = this._keyStr.indexOf(e.charAt(f++)); u = this._keyStr.indexOf(e.charAt(f++)); a = this._keyStr.indexOf(e.charAt(f++)); n = s << 2 | o >> 4; r = (o & 15) << 4 | u >> 2; i = (u & 3) << 6 | a; t = t + String.fromCharCode(n); if (u != 64) { t = t + String.fromCharCode(r) } if (a != 64) { t = t + String.fromCharCode(i) } } t = Base64._utf8_decode(t); return t }, _utf8_encode: function (e) { e = e.replace(/rn/g, "n"); var t = ""; for (var n = 0; n < e.length; n++) { var r = e.charCodeAt(n); if (r < 128) { t += String.fromCharCode(r) } else if (r > 127 && r < 2048) { t += String.fromCharCode(r >> 6 | 192); t += String.fromCharCode(r & 63 | 128) } else { t += String.fromCharCode(r >> 12 | 224); t += String.fromCharCode(r >> 6 & 63 | 128); t += String.fromCharCode(r & 63 | 128) } } return t }, _utf8_decode: function (e) { var t = ""; var n = 0; var r = c1 = c2 = 0; while (n < e.length) { r = e.charCodeAt(n); if (r < 128) { t += String.fromCharCode(r); n++ } else if (r > 191 && r < 224) { c2 = e.charCodeAt(n + 1); t += String.fromCharCode((r & 31) << 6 | c2 & 63); n += 2 } else { c2 = e.charCodeAt(n + 1); c3 = e.charCodeAt(n + 2); t += String.fromCharCode((r & 15) << 12 | (c2 & 63) << 6 | c3 & 63); n += 3 } } return t } }
            cpwd = cvalue;
            cvalue = Base64.encode(cpwd);
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        $(".modal").each(function (index) {
            $(this).on('show.bs.modal', function (e) {
                var open = $(this).attr('data-easein');
                if (open == 'bounce') {
                    $('.modal-dialog').velocity('callout.' + open);
                }
                else {
                    $('.modal-dialog').velocity('transition.' + open);
                }

            });
        });

        $('#datetimepicker1').datetimepicker({
            // format: 'MMM D, YYYY',
            widgetPositioning: {
                vertical: 'top',
                horizontal: 'left'
            }
        });

        $('.profile-pic').tooltip();

        $('#upload-link').click(function (e) {
            e.preventDefault();
            $('#upload').trigger('click');
        });

        $('#img-close').click(function () {
            $(".fileinput-new").css('display', 'none');
        });

        $('#thumb-close').click(function () {
            $("#thumb-creator").css('display', 'none');
        });

        $('.t-dt').click(function (e) {
            e.preventDefault();
            $('span.input-group-addon').trigger("click");
            console.log('trigger');
        });

        $('#sb-schedule-post').click(function () {

            $('.btn-share-send').removeAttr('onclick', 'sharenow()');
            $('.btn-share-send').attr('onclick', 'schedulenow()');
            $('.btn-share-send').text('Scheduling Post');
        });

        $('#sb-share-now').click(function () {

            $('.btn-share-send').removeAttr('onclick', 'schedulenow()');
            $('.btn-share-send').attr('onclick', 'sharenow()');
            $('.btn-share-send').text('Sharing Post');
            sharenow();
        });


        $('.profile-pic').on('click', function (e) {
            $(this).toggleClass("selected");
            e.preventDefault();
            var f_count = 0;
            var t_count = 0;
            $('.selected.twitter').each(function () {
                t_count++;
            });
            $('.selected.facebook').each(function () {
                f_count++;
            });
            if (f_count > 0) {
                $('.facebook-text-show').css('display', 'block');
            } else {
                $('.facebook-text-show').css('display', 'none');
            }
            if (t_count > 0) {
                $('.twitter-text-show').css('display', 'block');
            }
            else {
                $('.twitter-text-show').css('display', 'none');
            } if (t_count > 0 || f_count > 0) {
                $('.mob-style').css('display', 'block');
                $('.mob-style.zeroprofile').css('display', 'none');

            } else {
                $('.mob-style').css('display', 'none');
                $('.mob-style.zeroprofile').css('display', 'block');
            }


        });
        function send() {
            var arrId = [];
            $('.selected').each(function () {
                arrId.push(this.id);
            });
            console.log(arrId);
        }



        function AddImageScheduleMessage() {
            var filesinput = $('#upload');
            var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
            if (filesinput != undefined && filesinput[0].files[0] != null) {
                if (hasExtension('upload', fileExtension)) {
                    var fd = new FormData();
                    var filesimage = document.getElementById('upload').files[0];
                    if (filesimage != null) {
                        fd.append('files', filesimage);
                        $.ajax({
                            url: '@appSettings.Value.ApiDomain/api/SocialMessages/UploadImageplugin',
                            type: "Post",
                            // dataType: 'json',
                            processData: false,
                            contentType: false,
                            data: fd,
                            success: function (data) {
                                //  alert('hello' + data);
                                $("#img-upload-thumb").attr("src", data);
                                $(".fileinput-new").css('display', 'block');
                                $("#thumb-creator").css('display', 'none');
                            },
                            error: function (msg) {
                                // console.log(msg.responseText);
                                $("#img-upload-thumb").attr("src", msg.responseText);
                                $(".fileinput-new").css('display', 'block');
                                $("#thumb-creator").css('display', 'none');
                            }


                        });
                    }


                }
                else {
                    return;
                }
            }
        }
        function hasExtension(inputID, exts) {
            var fileName = document.getElementById(inputID).value;
            return (new RegExp('(' + exts.join('|').replace(/\./g, '\\.') + ')$')).test(fileName);
        }

        function countChar() {
            var tweetUriLength = '@tweetUrlLength';
            var val = document.getElementById('txt-twt-message').value;
            var len = +val.length + +tweetUriLength;
            if (len > 280) {
                $('#twt-text-count').removeClass('text-success');
                $('#twt-text-count').addClass('text-danger');
            } else {
                $('#twt-text-count').removeClass('text-danger');
                $('#twt-text-count').addClass('text-success');
            }
            $('#twt-text-count').text(280 - len);

        }

        function postData() {
            var arrId = [];
            $('.selected').each(function () {
                arrId.push(this.id);
            });
            if (arrId.length < 1) {
                return null;
            }


            var twitterText = "";
            var tweetId = "";
            var tweetUrl = "";
            var facebookText = "";
            var url = "";
            var imgUrl = "";
            var updatedmessage = "";
            if ($('.twitter-text-show').css('display') == 'block') {
                twitterText = $('#txt-twt-message').val();
                if (twitterText.length + +'@tweetUrlLength' > 280) {
                    $('#twt-text-count').removeClass('text-success');
                    $('#twt-text-count').addClass('text-danger');
                    $('#twt-text-count').text('Your Tweet was over 280 characters.');
                    return null;
                }
                @if(objplugin.profileType=="twitter")
                {
                    @:tweetId = "@objplugin.tweetId";
                                                                                                                                                                                                                                                                                                                                            @:tweetUrl = "https://twitter.com/@objplugin.screenName/status/@objplugin.tweetId";
                                                                                                                                                                                                                                                                                                                                        }
            }
            if ($('.facebook-text-show').css('display') == 'block') {
                facebookText = $('#txt-fb-message').val();
                try {
                    if (facebookText !== undefined) {
                        var postdata = facebookText.split("\n");
                        for (var i = 0; i < postdata.length; i++) {
                            updatedmessage = updatedmessage + "<br>" + postdata[i];
                        }
                        updatedmessage = updatedmessage.replace(/#+/g, 'hhh');
                        updatedmessage = updatedmessage.replace(/&+/g, 'nnn');
                        updatedmessage = updatedmessage.replace("+", 'ppp');
                        updatedmessage = updatedmessage.replace("-+", 'jjj');
                        facebookText = updatedmessage;
                    } else {
                        facebookText = "";

                    }
                } catch (e) {

                }
                @if(objplugin._ThumbnailDetails!=null)
                {
                    @:if ($('#thumb-creator').css('display') == 'block') { url = "@objplugin._ThumbnailDetails.url"; }
                                                                                                                                                                                                                                                                                                                                        }
            }
            if ($('.fileinput-new').css('display') == 'block') {
                imgUrl = $('#img-upload-thumb').attr('src');
            } else if ($('.fileinput-new').css('display') == 'none') {
                // imgUrl = "";

                if ($('#thumb-creator').css('display') == 'none') {
                    imgUrl = "";

                } else {
                    imgUrl = $('#myCarousel').children('.carousel-inner').children('.item.image.active').children('.fill').children().attr("src");
                }


            }



            if (facebookText == "<br>") {
                facebookText = "";

            }
            if (twitterText != "" || tweetId != "" || facebookText != "" || url != "" || imgUrl != "") {
                var data = { profile: arrId.join(), twitterText: twitterText, tweetId: tweetId, tweetUrl: tweetUrl, facebookText: facebookText, url: url, imgUrl: imgUrl }
                return data;
            }
            else {
                return null;
            }


        }


        function sharenow() {
            var post = postData();
            if (post != null) {
                $.ajax({
                    url: '../Home/PluginComposeMessage',
                    type: 'POST',
                    data: post,
                    beforeSend: function (xhr) {
                        $('.overlay-share').slideToggle();
                    },
                    success: function (data) {
                        $('#success-sending-data').text(data);
                        var param = getParameterByName("windowType");
                        if (param == "newwin") {
                            window.close();
                        } else {
                            setTimeout(function () { parent.postMessage({ name: "Close" }, "*"); }, 5000);
                        }
                    }, error: function (msg) {
                        $('#success-sending-data').text('You have error while post from socioboard..');
                        var param = getParameterByName("windowType");
                        if (param == "newwin") {
                            window.close();
                        } else {
                            setTimeout(function () { parent.postMessage({ name: "Close" }, "*"); }, 5000);
                        }
                    }
                });

            } else {
                alert('please enter necessary data');

            }



        }


        function sleep(milliseconds) {
            var start = new Date().getTime();
            for (var i = 0; i < 1e7; i++) {
                if ((new Date().getTime() - start) > milliseconds) {
                    break;
                }
            }

        }
        function schedulenow() {
            var curdate = new Date();
            var dd = curdate.getDate();
            if (dd < 10) {
                dd = '0' + dd
            }
            else {
                dd = curdate.getDate();
            }
            var mm = curdate.getMonth() + 1;
            if (mm < 10) {
                mm = '0' + mm
            }
            else {
                mm = curdate.getMonth() + 1;
            }
            var hh = curdate.getHours();
            if (hh < 10) {
                hh = '0' + hh;
            }
            else {
                hh = curdate.getHours();
            }
            var minm = curdate.getMinutes();
            if (minm < 10) {
                minm = '0' + minm;
            }
            else {
                minm = curdate.getMinutes();
            }
            var sec = curdate.getSeconds();
            if (sec < 10) {
                sec = '0' + sec;
            }
            else {
                sec = curdate.getSeconds();
            }
            var now = curdate.getFullYear() + "/" + mm + "/" + dd + " " + hh + ":" + minm + ":" + sec;

            //var sdtime = $('#sd-date-time').val();
            //var newdate1 = new Date(sdtime.replace("AM", "").replace("PM", "")).toUTCString();
            //var d = new Date(newdate1);
            //var d4 = d.setHours(d.getHours() + 12);
            //var date = moment(d4);
            //var newdate = new Date(date).toUTCString();
            var sdtime = $('#sd-date-time').val();
            var d4 = '';
            var newscheuletime = sdtime.split(" ");
            var scheduledtime3 = newscheuletime[1] + ':00';
            var schdd = scheduledtime3.split(":");
            var shdd = schdd[0];
            var shmin = schdd[1];
            var shsec = schdd[2];
            var newdate1 = new Date(sdtime.replace("AM", "").replace("PM", "")).toUTCString();
            var d = new Date(newdate1);
            var newd = new Date(now);

            if (d.getYear() < new Date().getYear()) {
                alert("Year value must be current or future");
                return false;
            } else {
                if (d.getMonth() < new Date().getMonth()) {
                    alert("Month value must be current or future");
                    return false;
                } else {
                    if (d.getDate() < new Date().getDate()) {
                        alert("Date Time value must be current or future");
                        return false;

                    } else {
                        if (d.getDate() == new Date().getDate()) {
                            if (new Date().getHours() > 12) {
                                if (d.getHours() < new Date().getHours() - 12) {
                                    alert("Time value must be current or future");
                                    return false;
                                }
                                if (d.getHours() == new Date().getHours() - 12) {
                                    if (d.getMinutes() < new Date().getMinutes()) {
                                        alert("Time value must be current or future");
                                        return false;
                                    }
                                }

                            } else {
                                if (d.getHours() < new Date().getHours()) {
                                    alert("Time value must be current or future");
                                    return false;
                                }
                                if (d.getHours() == new Date().getHours()) {
                                    if (d.getMinutes() < new Date().getMinutes()) {
                                        alert("Time value must be current or future");
                                        return false;
                                    }
                                }

                            }


                        }


                    }


                }


            }

            if (newscheuletime[2] == "PM") {
                if (shdd != "12") {
                    d4 = d.setHours(d.getHours() + 12);
                }
                else {
                    d4 = d.setHours(d.getHours());
                }
            } else {
                d4 = d.setHours(d.getHours());
            }

            var date = moment(d4);
            var newdate = new Date(date).toUTCString();
            var post = postData();

            if (post != null) {
                $.ajax({
                    url: '../Home/PluginScheduleMessage?scheduleTime=' + newdate + '&clientTime=' + sdtime,
                    type: 'POST',
                    data: post,
                    beforeSend: function () {
                        $('.overlay-share').slideToggle();
                    },
                    success: function (data) {
                        //$('#img-load-send').attr('src', '../Themes/Socioboard/Contents/img/products n clients/logo.png');
                        $('#success-sending-data').text('You have scheduled post from socioboard..');
                        var param = getParameterByName("windowType");
                        if (param == "newwin") {
                            window.close();
                        } else {
                            parent.postMessage({ name: "Close" }, "*");
                        }
                    }
                });
            }
            else {
                alert('please enter necessary data');

            }
        }
        function getParameterByName(name) {
            var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
            return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
        }

        $('.close-btn-dismiss').on('click', function () {
            var param = getParameterByName("windowType");
            if (param == "newwin") {
                window.close();
            } else {
                parent.postMessage({ name: "Close" }, "*");
            }
        });

    </script>
</body>
</html>
